/*###################################################*/
/*...................................................*/
/* Experiences  */
/*...................................................*/
/*###################################################*/


#experiencias {
    padding: 5rem 1rem;
}


/*-------------------------------*/
/* title */
/*-------------------------------*/

/* just mobile */
.title {
    margin-bottom: 6rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 200;
}


/*-------------------------------*/
/* end title */
/*-------------------------------*/


/*-------------------------------*/
/* experiences grid */
/*-------------------------------*/
.experiencesGrid {
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
            "WelcomeToSmart WelcomeToSmart"
            "second second"
            "secondExpanded secondExpanded"
            "third fourth"
            "thirdExpanded thirdExpanded"
            "fourthExpanded fourthExpanded"
            " fifth fifth"
           
}

/* tablet portrait up */
@media (min-width: 768px) {
    .experiencesGrid {
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: minmax(100px, auto);
         grid-template-areas: 

            "WelcomeToSmart second second"
            "third          second second"
            "secondExpanded secondExpanded secondExpanded"
            "thirdExpanded thirdExpanded thirdExpanded"
            "fourth fourth fourth"
            "fourthExpanded fourthExpanded fourthExpanded"
            "fifth fifth fifth"
            "fifth fifth fifth"
            "fifth fifth fifth"

            
    }
}
/* end tablet up */

/* tablet landscape up */
@media (min-width: 1024.1px) {
    .experiencesGrid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
            "secondExpanded secondExpanded secondExpanded secondExpanded secondExpanded secondExpanded"
           
            "WelcomeToSmart WelcomeToSmart second second second second"
            "WelcomeToSmart WelcomeToSmart second second second second"
            "third third fourth fourth fifth fifth"
            "third third fourth fourth fifth fifth"
            "fourthExpanded fourthExpanded fourthExpanded fourthExpanded fourthExpanded fourthExpanded"
            "fifthExpanded fifthExpanded fifthExpanded fifthExpanded fifthExpanded fifthExpanded"

           
    }
}
/* end tablet up */


/*-------------------------------*/
/* end experiences grid */
/*-------------------------------*/

/*-------------------------------*/
/* gridArea templates */
/*-------------------------------*/



/*-------------------------------*/
/* end gridArea templates */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end experiences  */
/*...................................................*/
/*###################################################*/