/*###################################################*/
/*...................................................*/
/* Experiences  */
/*...................................................*/
/*###################################################*/


.experiences {
    padding: 5rem 0rem;
}


/*-------------------------------*/
/* title */
/*-------------------------------*/

/* just mobile */
.title {
    margin-bottom: 6rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 200;
}


/*-------------------------------*/
/* end title */
/*-------------------------------*/


/*-------------------------------*/
/* experiences grid */
/*-------------------------------*/
.experiencesGrid {
    display: grid;
    /* gap: 0.5rem; */
    padding: 0.3rem;
    grid-template-columns: repeat(2, 1fr);          
}
/* For Gap: */
.experiencesGrid article,
.experiencesGrid a {
    margin: 5px;
}

/* tablet portrait up */
@media (min-width: 768px) {
    .experiencesGrid {
    grid-template-columns: repeat(3, 1fr);  
    }
}

/* end tablet up */

/* tablet landscape up */
@media (min-width: 1024.1px) {
    .experiencesGrid {
        grid-template-columns: repeat(6, 1fr);
    }
}
/* end tablet up */

/*-------------------------------*/
/* end experiences grid */
/*-------------------------------*/
/*-------------------------------*/
/* gridArea templates AGS */
/*-------------------------------*/
.templateAGS {
    grid-template-areas: 
            "WelcomeToSmart WelcomeToSmart"
            "DigitalExperiences DigitalExperiences"
            "ParAndCar ParAndCar"
            "WhatIsCounseling WhatIsCounseling"
            "WhatIsCounselingExpanded WhatIsCounselingExpanded"
            "Counseling Counseling"
            "CounselingExpanded CounselingExpanded"
            "Dpi Dpi"
            "DpiExpanded DpiExpanded"
            "WhatIsAU WhatIsAU"
            "WhatIsAUExpanded WhatIsAUExpanded"
            "PrepareAUExpanded PrepareAUExpanded"
            "PrepareAU AUTopics"
            "AUTopicsExpanded AUTopicsExpanded"
            "AUFaq ."
            "AUFaqExpanded AUFaqExpanded"           
            ;         
}


/* tablet portrait up */
@media (min-width: 768px) {
    .templateAGS {
        grid-template-areas: 
        "WelcomeToSmart DigitalExperiences  DigitalExperiences"

        "ParAndCar ParAndCar ParAndCar"
        "ParAndCar ParAndCar ParAndCar"
        "WhatIsCarExpanded WhatIsCarExpanded WhatIsCarExpanded"

        "WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded"
        "WhatIsCounseling  Counseling Counseling"
        "Dpi               Counseling Counseling"
        "CounselingExpanded CounselingExpanded CounselingExpanded"
        "DpiExpanded DpiExpanded DpiExpanded"

       
        "WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded"
        "WhatIsAU WhatIsAU PrepareAU"
        "PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded"
        "AUTopics AUFaq ."
        "AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded"
        "AUFaqExpanded AUFaqExpanded AUFaqExpanded"

        
        ;
    }   
}
/* end tablet up */

/* tablet landscape up */
@media (min-width: 1024.1px) {
    .templateAGS {
        grid-template-areas: 
            "WelcomeToSmart WelcomeToSmart DigitalExperiences DigitalExperiences DigitalExperiences DigitalExperiences"

            "ParAndCar ParAndCar ParAndCar ParAndCar ParAndCar ParAndCar"
            "ParAndCar ParAndCar ParAndCar ParAndCar ParAndCar ParAndCar"
            "WhatIsCarExpanded WhatIsCarExpanded WhatIsCarExpanded WhatIsCarExpanded WhatIsCarExpanded WhatIsCarExpanded"

            "WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded"
            "WhatIsCounseling WhatIsCounseling Counseling Counseling Counseling Counseling"
            "Dpi Dpi Counseling Counseling Counseling Counseling"
            "CounselingExpanded CounselingExpanded CounselingExpanded CounselingExpanded CounselingExpanded CounselingExpanded"
            "DpiExpanded DpiExpanded DpiExpanded DpiExpanded DpiExpanded DpiExpanded"

            "WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded"
            "WhatIsAU WhatIsAU PrepareAU AUTopics AUFaq ."
            "PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded"
            "AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded"
            "AUFaqExpanded AUFaqExpanded AUFaqExpanded AUFaqExpanded AUFaqExpanded AUFaqExpanded"

            
            ;          
    }
}
/* end tablet up */

/*-------------------------------*/
/* end gridArea templates AGS */
/*-------------------------------*/

/*-------------------------------*/
/* gridArea templates CDMX */
/*-------------------------------*/
.templateCDMX {
    grid-template-areas: 
            "WelcomeToSmart WelcomeToSmart"
            
            "DigitalExperiences DigitalExperiences"

            "InPerson InPerson"

            "ParAndCar ParAndCar"
            

            "WhatIsCounseling WhatIsCounseling"

            "WhatIsCounselingExpanded WhatIsCounselingExpanded"

            "Counseling Counseling"

            "CounselingExpanded CounselingExpanded"
            "Dpi Dpi"
            "DpiExpanded DpiExpanded"

            "WhatIsAU WhatIsAU"
            "WhatIsAUExpanded WhatIsAUExpanded"
            "PrepareAUExpanded PrepareAUExpanded"
            "PrepareAU AUTopics"
            "AUTopicsExpanded AUTopicsExpanded"
            "AUFaq ."
            "AUFaqExpanded AUFaqExpanded"           
            ;         
}


/* tablet portrait up */
@media (min-width: 768px) {
    .templateCDMX {
    grid-template-areas: 
        "WelcomeToSmart DigitalExperiences  DigitalExperiences"
        "InPerson          InPerson         InPerson"

       
        "ParAndCar ParAndCar ParAndCar"
        "ParAndCar ParAndCar ParAndCar"
        

        "WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded"
        "WhatIsCounseling  Counseling Counseling"
        "Dpi               Counseling Counseling"
        "CounselingExpanded CounselingExpanded CounselingExpanded"
        "DpiExpanded DpiExpanded DpiExpanded"
        
        "WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded"
        "WhatIsAU WhatIsAU PrepareAU"
        "PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded"
        "AUTopics AUFaq ."
        "AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded"
        "AUFaqExpanded AUFaqExpanded AUFaqExpanded"

        
        ;
    }   
}
/* end tablet up */

/* tablet landscape up */
@media (min-width: 1024.1px) {
    .templateCDMX {
        grid-template-areas: 
            "WelcomeToSmart WelcomeToSmart DigitalExperiences DigitalExperiences DigitalExperiences DigitalExperiences"
            "InPerson InPerson InPerson InPerson InPerson InPerson"

            
            "ParAndCar ParAndCar ParAndCar ParAndCar ParAndCar ParAndCar"
            "ParAndCar ParAndCar ParAndCar ParAndCar ParAndCar ParAndCar"
        

            "WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded"
            "WhatIsCounseling WhatIsCounseling Counseling Counseling Counseling Counseling"
            "Dpi Dpi Counseling Counseling Counseling Counseling"
            "CounselingExpanded CounselingExpanded CounselingExpanded CounselingExpanded CounselingExpanded CounselingExpanded"
            "DpiExpanded DpiExpanded DpiExpanded DpiExpanded DpiExpanded DpiExpanded"

           

            "WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded"
            "WhatIsAU WhatIsAU PrepareAU AUTopics AUFaq ."
            "PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded"
            "AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded"
            "AUFaqExpanded AUFaqExpanded AUFaqExpanded AUFaqExpanded AUFaqExpanded AUFaqExpanded"

            
            ;          
    }
}
/* end tablet up */

/*-------------------------------*/
/* end gridArea templates CDMX */
/*-------------------------------*/

/*-------------------------------*/
/* gridArea templates GDL */
/*-------------------------------*/
.templateGDL {
    grid-template-areas: 
            "WelcomeToSmart WelcomeToSmart"
            
            "DigitalExperiences DigitalExperiences"

            "WhatIsCounseling WhatIsCounseling"

            "WhatIsCounselingExpanded WhatIsCounselingExpanded"

            "Counseling Counseling"

            "CounselingExpanded CounselingExpanded"

            "Dpi Dpi"
            "DpiExpanded DpiExpanded"
            
            "WhatIsAU WhatIsAU"
            "WhatIsAUExpanded WhatIsAUExpanded"
            "PrepareAUExpanded PrepareAUExpanded"
            "PrepareAU AUTopics"
            "AUTopicsExpanded AUTopicsExpanded"
            "AUFaq ."
            "AUFaqExpanded AUFaqExpanded"           
            ;         
}


/* tablet portrait up */
@media (min-width: 768px) {
    .templateGDL {
    grid-template-areas: 
        "WelcomeToSmart DigitalExperiences  DigitalExperiences"

        "WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded"
        "WhatIsCounseling  Counseling Counseling"
        "Dpi               Counseling Counseling"
        "CounselingExpanded CounselingExpanded CounselingExpanded"
        "DpiExpanded DpiExpanded DpiExpanded"
        
        "WhatIsAU WhatIsAU PrepareAU"
        "PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded"
        "AUTopics AUFaq ."
        "AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded"
        "AUFaqExpanded AUFaqExpanded AUFaqExpanded"

        
        ;
    }   
}
/* end tablet up */

/* tablet landscape up */
@media (min-width: 1024.1px) {
    .templateGDL {
        grid-template-areas: 
            "WelcomeToSmart WelcomeToSmart DigitalExperiences DigitalExperiences DigitalExperiences DigitalExperiences"

            "WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded WhatIsCounselingExpanded"
            "WhatIsCounseling WhatIsCounseling Counseling Counseling Counseling Counseling"
            "Dpi Dpi Counseling Counseling Counseling Counseling"
            "CounselingExpanded CounselingExpanded CounselingExpanded CounselingExpanded CounselingExpanded CounselingExpanded"
            "DpiExpanded DpiExpanded DpiExpanded DpiExpanded DpiExpanded DpiExpanded"
           
            "WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded WhatIsAUExpanded"
            "WhatIsAU WhatIsAU PrepareAU AUTopics AUFaq ."
            "PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded PrepareAUExpanded"
            "AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded AUTopicsExpanded"
            "AUFaqExpanded AUFaqExpanded AUFaqExpanded AUFaqExpanded AUFaqExpanded AUFaqExpanded"

            
            ;          
    }
}
/* end tablet up */

/*-------------------------------*/
/* end gridArea templates GDL */
/*-------------------------------*/

.DigitalExperiences{
    min-height: 10rem;
}

.InPerson{
    min-height: 10rem;
}

.WhatIsCounseling{
    color: var(--smartGreen);
}

.Counseling{
    min-height: 17rem;
    color: var(--smartGreen);
}
.Counseling>img{
    opacity: 0.5;
}

.Dpi{

    color: var(--smartGreen);
}
.ParAndCar{
    min-height: 17rem;
    color: var(--smartBlue);
}

.WhatIsPar{
    color: var(--smartBlue);
}

.WhatIsCar{
    color: var(--smartBlue);
}

.WhatIsAU{
    color: var(--smartRed);
}

.PrepareAU{
    color: var(--smartRed);
}
.AUTopics{
    color: var(--smartRed);
}

.AUFaq{
    color: var(--smartRed);
}
/*###################################################*/
/*...................................................*/
/* end experiences  */
/*...................................................*/
/*###################################################*/