/*###################################################*/
/*...................................................*/
/* Experiences  */
/*...................................................*/
/*###################################################*/


#experiencias {
    padding: 5rem 1rem;
}


/*-------------------------------*/
/* title */
/*-------------------------------*/

/* just mobile */
.title {
    margin-bottom: 6rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 200;
}


/*-------------------------------*/
/* end title */
/*-------------------------------*/


/*-------------------------------*/
/* experiences grid */
/*-------------------------------*/


/*-------------------------------*/
/* end experiences grid */
/*-------------------------------*/

/*-------------------------------*/
/* gridArea templates */
/*-------------------------------*/
.experiencesGrid {
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas: 
            "WelcomeToSmart WelcomeToSmart"
            "DigitalExperiences DigitalExperiences"
            "InPerson InPerson"
            "third fourth"
            "thirdExpanded thirdExpanded"
            "fourthExpanded fourthExpanded"
            " fifth fifth"
           
}


.DigitalExperiences{
    min-height: 10rem;
}

.InPerson{
    min-height: 10rem;
}
/* tablet portrait up */
@media (min-width: 768px) {
    .experiencesGrid {
    grid-template-columns: repeat(3, 1fr);
   
    
    grid-template-areas: 
        "WelcomeToSmart DigitalExperiences  DigitalExperiences"
        "InPerson          InPerson         InPerson"
        
        ;
}

   
}
/* end tablet up */

/* tablet landscape up */
@media (min-width: 1024.1px) {
    .experiencesGrid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
            "WelcomeToSmart WelcomeToSmart DigitalExperiences DigitalExperiences DigitalExperiences DigitalExperiences"
            "InPerson InPerson InPerson InPerson InPerson InPerson"
            ;

           
    }
}
/* end tablet up */

/*-------------------------------*/
/* end gridArea templates */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end experiences  */
/*...................................................*/
/*###################################################*/