/*###################################################*/
/*...................................................*/
/* root variables (responsive font size installed)   */
/*...................................................*/
/*###################################################*/

:root {
    /* font size */
    --fs-b: 14px;
    /* custom colors */
    --smartRed: #A41C1D;
    --smartBlue: #1c5396;
    --smartGreen: #497D38;
    --smartYellow: #c7a534;
    /* theme colors */
    --brColor: #dfdfdf;
    --textColor: #000;
    --orangeBtn: rgb(97, 90, 90);
}

/* tablet up */
@media (min-width: 768px) {
    :root {
        /* font size */
        --fs-b: 16px;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 991px) {
    :root {
        /* font size */
        --fs-b: 18px;
    }
}

/* end laptop up */

/* desktop up */
@media (min-width: 1300px) {
    :root {
        /* font size */
        --fs-b: 22px;
    }
}

/*###################################################*/
/*...................................................*/
/* end root variables                                */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* general properties */
/*...................................................*/
/*###################################################*/

html {
    /* scroll smooth from nav control */
    scroll-behavior: smooth;
    /* font size general control using variable */
    font-size: var(--fs-b);
    font-family: 'Monserrat', serif;

}

body {
    overflow-y: scroll;
    background-color: var(--brColor);
    color: var(--textColor);
}

.linksGen {
    padding: 1rem;
    margin: 0px;
    width: 100%;
    border: transparent solid 4px;
    transition: border 0.3s linear;
    -webkit-transition: border 0.3s linear;
    -moz-transition: border 0.3s linear;
    -ms-transition: border 0.3s linear;
    -o-transition: border 0.3s linear;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.linksGen:hover {

    border: rgb(217, 231, 217) solid 4px;
    text-decoration: none;
    color: #fff;
}

.pleca {
    background-color: rgb(255, 255, 255);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logos-link-bar-succes {
    width: 1.2rem;
    height: auto;
}

.logos-link-bar {
    width: 2.2rem;
    height: auto;
}

/* rewrite from bootstrap */
.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

/* controla los íconos dentro de los botones */
.btn>i {
    font-size: 3rem;
}


/*-------------------------------*/
/* botones colapse */
/*-------------------------------*/
.card {
    background-color: rgba(16, 119, 47, 0.84);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border: 0px;

}

.card-header:first-child {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

#headingTwo {
    background-color: #27a365;
}

#headingThree {
    background-color: #387d5a;
}

.card-header>h5>button {
    color: rgb(255, 255, 255);
}

.card-header>h5>button:hover {
    color: rgb(173, 197, 167);
}

/*-------------------------------*/
/* end botones colapse */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end general properties */
/*...................................................*/
/*###################################################*/
/*###################################################*/
/*...................................................*/
/* grid */
/*...................................................*/
/*###################################################*/

.grid-reload {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10vh, auto);
    padding: 0px;
    grid-template-areas:
        "smartBack successBack meetingBack advisoryBack"
        "banner banner banner banner"
        "banner banner banner banner"
        "intro intro intro intro"
        "intro intro intro intro"
        "intro intro intro intro"
        "intro intro intro intro"
        "news news news news"
        "news news news news"
        "news news news news"
        "news news news news"
        "news news news news"
        "news news news news"
        "news news news news"
        "principios principios principios principios"
        "servicios servicios servicios servicios"
        "cita cita cita cita"
        "instagram instagram instagram instagram"
        "rate rate rate rate"
        "rate rate rate rate"
        "acordeon acordeon acordeon acordeon"
        "acordeon acordeon acordeon acordeon"
        "acordeon acordeon acordeon acordeon"
        "acordeon acordeon acordeon acordeon"
        "acordeon acordeon acordeon acordeon"
    ;
}

/* tablet portrait up */
@media (min-width: 768px) {
    .grid-reload {
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas:
            "smartBack successBack meetingBack advisoryBack banner banner banner "
            "news news news news banner banner banner"
            "news news news news intro intro intro"
            "news news news news intro intro intro"
            "news news news news intro intro intro"
            "news news news news servicios servicios servicios"
            "news news news news principios principios principios"
            "news news news news principios principios principios"
            "cita cita instagram instagram rate rate rate"
            "cita cita instagram instagram rate rate rate"
            "acordeon acordeon acordeon acordeon acordeon acordeon acordeon"
            "acordeon acordeon acordeon acordeon acordeon acordeon acordeon"
            "acordeon acordeon acordeon acordeon acordeon acordeon acordeon"
            "acordeon acordeon acordeon acordeon acordeon acordeon acordeon"
            "acordeon acordeon acordeon acordeon acordeon acordeon acordeon"
        ;
    }
}

/* end tablet up */

/* tablet landscape up */
@media (min-width: 1024.1px) {
    .grid-reload {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            "smartBack banner banner banner banner banner banner banner banner news news news "
            "successBack banner banner banner banner banner banner banner banner news news news "
            "meetingBack banner banner banner banner banner banner banner banner news news news "
            "advisoryBack banner banner banner banner banner banner banner banner news news news "
            "intro intro intro intro intro intro servicios servicios servicios news news news "
            "intro intro intro intro intro intro servicios servicios servicios news news news "
            "intro intro intro intro intro intro principios principios principios news news news "
            "intro intro intro intro intro intro principios principios principios news news news "
            "acordeon acordeon acordeon acordeon acordeon acordeon cita cita cita news news news "
            "acordeon acordeon acordeon acordeon acordeon acordeon cita cita cita news news news "
            "acordeon acordeon acordeon acordeon acordeon acordeon instagram instagram instagram news news news "
            "acordeon acordeon acordeon acordeon acordeon acordeon instagram instagram instagram news news news "
            "acordeon acordeon acordeon acordeon acordeon acordeon rate rate rate news news news "
            "acordeon acordeon acordeon acordeon acordeon acordeon rate rate rate news news news "

        ;
    }
}

/* end tablet up */


#smartBack {
    grid-area: smartBack;
    background-color: rgb(22, 21, 21);
}

#successBack {
    grid-area: successBack;
    background-color: var(--smartYellow);
}

#meetingBack {
    grid-area: meetingBack;
    background-color: var(--smartBlue);
}

#advisoryBack {
    grid-area: advisoryBack;
    background-color: var(--smartRed);
}

#banner {
    grid-area: banner;
    background-color: #000;
}

#banner>img {
    width: 26vw;
    height: auto;
}

#noticias {
    grid-area: news;
    background-color: #292f33;
}

#intro {
    grid-area: intro;
    background-color: var(--smartGreen);
    font-size: 1.1rem;
    padding: 2rem;
    color: #fff;
}

#principios {
    grid-area: principios;
    display: flex;
    flex-direction: column;
    background-color: #0d5833;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
}

#servicios {
    grid-area: servicios;
    background-color: #074615;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
}

#instagram {
    grid-area: instagram;
    background-color: #074615d7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
    font-size: 5rem;
}

#cita {
    grid-area: cita;
    background-color: #0f8029fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
}

#rate {
    grid-area: rate;
    background-color: #2b4d32f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 2rem;
    color: #fff;
}

#acordeon {
    grid-area: acordeon;
    background-color: #292f33;

}


/*-------------------------------*/
/* rate */
/*-------------------------------*/

.rate-question {
    white-space: nowrap;
    font-size: 0.7rem;
    margin-top: 0.3rem;
}

.rate-answer {
    white-space: nowrap;
    font-size: 0.8rem;

}

.rate-title {
    white-space: nowrap;
}

/*-------------------------------*/
/* end rate */
/*-------------------------------*/


/*###################################################*/
/*...................................................*/
/* end grid */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* grids acordeon */
/*...................................................*/
/*###################################################*/






/*-------------------------------*/
/* artículos */
/*-------------------------------*/

.container-articulos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 15rem;
    gap: 10px;
    background-color: rgb(9, 46, 21);
}

/* cellphone landscape up */
@media (min-width: 576px) {
    .container-articulos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 15rem;
        gap: 10px;
    }
}

.articulo-footer {
    background-color: rgba(47, 90, 58, 0.753);
    width: 100%;
    padding: 0.4rem;
}

#articulo1 {
    background-color: yellow;
    background-image: url(../images/rt/art1.jpg);
    display: flex;
    align-items: flex-end;
    padding: 0px;
    border: 0px;


}

#articulo2 {
    background-color: yellow;
    background-image: url(../images/rt/art2.jpg);
    display: flex;
    align-items: flex-end;
    padding: 0px;
    border: 0px;
}

#articulo3 {
    background-color: yellow;
    background-image: url(../images/rt/art3.jpg);
    display: flex;
    align-items: flex-end;
    padding: 0px;
    border: 0px;
}

#articulo4 {
    background-color: yellow;
    background-image: url(../images/rt/art4.jpg);
    display: flex;
    align-items: flex-end;
    padding: 0px;
    border: 0px;


}

/*-------------------------------*/
/* end artículos */
/*-------------------------------*/

/*-------------------------------*/
/* recursos */
/*-------------------------------*/

.container-recursos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 10rem;
    gap: 10px;
    background-color: rgb(9, 46, 21);
}

/* cellphone landscape up */
@media (min-width: 576px) {
    .container-recursos {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* end cellphone landscape up */
.recursos {
    background-color: #33864e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: #fff;
}

.recursos:hover {
    text-decoration: none;
    color: rgb(9, 46, 21);
}

.recursos>span {
    text-align: center;
}

.recursos>.fas {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}



/*-------------------------------*/
/* end recursos */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end grids acordeon */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* modals */
/*...................................................*/
/*###################################################*/

.modal-header {
    background-color: var(--smartGreen);
    color: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.element-item {
    border: 5px solid #fff;
    padding: 0;
}

/*-------------------------------*/
/* servicios */
/*-------------------------------*/
.container-servicios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 1rem;

}

/* tablet portrait up */
@media (min-width: 768px) {
    .container-servicios {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* end tablet up */

.container-servicios>.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border: 1px solid #1762143a;
    padding: 1rem;
}

.container-servicios>.btn>img {
    width: 90%;
    height: auto;
}




/*-------------------------------*/
/* end servicios */
/*-------------------------------*/

/*-------------------------------*/
/* cita */
/*-------------------------------*/
#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.7rem;
}

#contact-form>form {
    width: 70%;
}

#contact-form label {
    color: rgb(88, 86, 86);

}

#contact-form input[type=email],
#contact-form input[type=text] {
    margin: 0.7rem 0;
    padding: 0.2rem;
    width: 100%;
}

#contact-form textarea {
    width: 100%;
}

#contact-form textarea:focus {
    height: 190px;
    overflow: auto;
}

.enviar-mensaje {
    width: 100%;
    height: 2.5rem;
    background-color: var(--smartGreen);
    color: #fff;
}

/*-------------------------------*/
/* end cita */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end modals */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* footer */
/*...................................................*/
/*###################################################*/

footer {
    background-color: #2e3338;
}

.footer {
    font-size: 0.7rem;
    /* clear: both; */
    color: #9a9a9a;
    padding: 2rem 4rem;
}

.footerLi {
    list-style: none;
}

.footer a {
    color: #9a9a9a;
}

.footer a :hover {
    color: yellow;
}

.social-footer a {
    margin: 0 10px;
    font-size: 20px;
}

.logoFooter {
    width: 13rem;
    height: 4.3rem;
}

/*###################################################*/
/*...................................................*/
/* end footer */
/*...................................................*/
/*###################################################*/