/*###################################################*/
/*...................................................*/
/* root variables (responsive font size installed)   */
/*...................................................*/
/*###################################################*/

:root {
    /* font size */
    --fs-b: 14px;
    /* custom colors */
    --smartRed: #A41C1D;
    --smartBlue: #1c5396;
    --smartGreen: #497D38;
    --smartYellow: #c7a534;
    /* theme colors */
    --brColor: #dfdfdf;
    --textColor: #000;
    --orangeBtn: rgb(97, 90, 90);
}

/* tablet up */
@media (min-width: 768px) {
    :root {
        /* font size */
        --fs-b: 16px;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 991px) {
    :root {
        /* font size */
        --fs-b: 18px;
    }
}

/* end laptop up */

/* desktop up */
@media (min-width: 1300px) {
    :root {
        /* font size */
        --fs-b: 22px;
    }
}

/*###################################################*/
/*...................................................*/
/* end root variables                                */
/*...................................................*/
/*###################################################*/

/* asegurarse de que el fondo siempre sea negro en toda la pantalla haciendo que el iframe extienda su fondo hacia abajo. */
iframe {
    min-height: 100vh;
}

/*###################################################*/
/*...................................................*/
/* nav */
/*...................................................*/
/*###################################################*/

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(2, 51, 14);
    height: 5rem;
    color: #fff;
    font-size: 2rem;

}

nav>span {
    margin: 0.6rem;
    margin-right: auto;
}

.envelope {
    /* background-color: #000;
    border: 1px solid #fff; */
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: #fff;
    font-size: 2.3rem;
}

.logo_rt {
    /* background-color: #000;
    border: 1px solid #fff; */
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.logo_rt>img {
    width: 3.3rem;
}

/*###################################################*/
/*...................................................*/
/* end nav */
/*...................................................*/
/*###################################################*/