/*###################################################*/
/*...................................................*/
/* root variables (responsive font size installed)   */
/*...................................................*/
/*###################################################*/

:root {
    /* font size */
    --fs-b: 14px;
    /* custom colors */
    --smartRed: #A41C1D;
    --smartBlue: #1c5396;
    --smartGreen: #497D38;
    --smartYellow: #c7a534;
    /* theme colors */
    --brColor: #dfdfdf;
    --textColor: #000;
    --orangeBtn: rgb(97, 90, 90);
}

/* tablet up */
@media (min-width: 768px) {
    :root {
        /* font size */
        --fs-b: 16px;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 991px) {
    :root {
        /* font size */
        --fs-b: 18px;
    }
}

/* end laptop up */

/* desktop up */
@media (min-width: 1300px) {
    :root {
        /* font size */
        --fs-b: 22px;
    }
}

/*###################################################*/
/*...................................................*/
/* end root variables                                */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* general properties */
/*...................................................*/
/*###################################################*/

html {
    /* scroll smooth from nav control */
    scroll-behavior: smooth;
    /* font size general control using variable */
    font-size: var(--fs-b);

}

body {
    /* scroll spy */
    overflow-y: scroll;
    background-color: var(--brColor);
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.linksGen {
    padding: 1rem;
    margin: 0px;
    width: 100%;
    border: transparent solid 4px;
    transition: border 0.3s linear;
    -webkit-transition: border 0.3s linear;
    -moz-transition: border 0.3s linear;
    -ms-transition: border 0.3s linear;
    -o-transition: border 0.3s linear;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.linksGen:hover {

    border: rgb(217, 231, 217) solid 4px;
    text-decoration: none;
    color: #fff;
}

.bg-nav {
    background-color: var(--smartGreen);
}

.pleca {
    background-color: rgb(44, 43, 43);
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.somos {
    background-color: rgba(73, 125, 56, 0.5);
    color: rgb(32, 73, 24);
}

/*-------------------------------*/
/* botones colapse */
/*-------------------------------*/

.card-header {
    background-color: rgba(73, 125, 56, 0.84);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.card-header>h5>button {
    color: rgb(255, 255, 255);
}

.card-header>h5>button:hover {
    color: rgb(173, 197, 167);
}

/*-------------------------------*/
/* end botones colapse */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end general properties */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* grids */
/*...................................................*/
/*###################################################*/

/*-------------------------------*/
/* inicio */
/*-------------------------------*/

.container-inicio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(5rem, auto);
    gap: 10px;
}

/* cellphone landscape up */
@media (min-width: 576px) {
    .container-inicio {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(5rem, auto);
        gap: 10px;
    }
}

/* end cellphone landscape up */

#servicios {
    background-color: rgb(39, 122, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
}

#mision {
    background-color: rgb(206, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
}

#metas {
    background-color: rgb(201, 150, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
}

#principios {
    background-color: rgb(62, 16, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
}

/*-------------------------------*/
/* end inicio */
/*-------------------------------*/


/* end cellphone landscape up */
/*-------------------------------*/
/* artículos */
/*-------------------------------*/

.container-articulos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 15rem;
    gap: 10px;
}

/* cellphone landscape up */
@media (min-width: 576px) {
    .container-articulos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 15rem;
        gap: 10px;
    }
}

.articulo-footer {
    background-color: rgba(47, 90, 58, 0.753);
    width: 100%;
    padding: 0.4rem;
}

#articulo1 {
    background-color: yellow;
    background-image: url(../images/rt/art1.jpg);
    display: flex;
    align-items: flex-end;
    padding: 0px;
    border: 0px;


}

#articulo2 {
    background-color: yellow;
    background-image: url(../images/rt/art2.jpg);
    display: flex;
    align-items: flex-end;
    padding: 0px;
    border: 0px;
}

#articulo3 {
    background-color: yellow;
    background-image: url(../images/rt/art3.jpg);
    display: flex;
    align-items: flex-end;
    padding: 0px;
    border: 0px;
}

#articulo4 {
    background-color: yellow;
    background-image: url(../images/rt/art4.jpg);
    display: flex;
    align-items: flex-end;
    padding: 0px;
    border: 0px;


}

/*-------------------------------*/
/* end artículos */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end grids */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* modals */
/*...................................................*/
/*###################################################*/

.modal-header {
    background-color: var(--smartBlue);
    color: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.element-item {
    border: 5px solid #fff;
    padding: 0;
}

/*###################################################*/
/*...................................................*/
/* end modals */
/*...................................................*/
/*###################################################*/
/*###################################################*/
/*...................................................*/
/* contact */
/*...................................................*/
/*###################################################*/

#contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.7rem;
    padding: 3rem;
}

#contact-form input[type=email],
#contact-form input[type=text] {
    margin: 0.7rem 0;
    padding: 0.5rem;
    width: 100%;
}

#contact-form textarea {
    width: 100%;
}

#contact-form textarea:focus {
    height: 190px;
    overflow: auto;
}

.enviar-mensaje {
    width: 50%;
    height: 2.5rem;
    background-color: #004b88;
    color: #fff;
}

.selector {
    width: 50%;
    height: 2.5rem;
    background-color: #004b88;
    color: #fff;
}

/*###################################################*/
/*...................................................*/
/* end contact */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* footer */
/*...................................................*/
/*###################################################*/

footer {
    background-color: #2e3338;

}

.footer {
    font-size: 0.7rem;
    /* clear: both; */
    color: #9a9a9a;
    padding: 2rem 4rem;
}

.footerLi {
    list-style: none;
}

.footer a {
    color: #9a9a9a;
}

.footer a :hover {
    color: yellow;
}

.social-footer a {
    margin: 0 10px;
    font-size: 20px;
}

.logoFooter {
    width: 13rem;
    height: 4.3rem;
}

/*###################################################*/
/*...................................................*/
/* end footer */
/*...................................................*/
/*###################################################*/