/*###################################################*/
/*...................................................*/
/* doc loader */
/*...................................................*/
/*###################################################*/

.doc-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
}

.doc-loader td {
    text-align: center;
    vertical-align: middle;
}

.doc-loader img {
    width: 90px;
    height: 90px;
}

/*###################################################*/
/*...................................................*/
/* end doc loader */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* root variables (responsive font size installed)   */
/*...................................................*/
/*###################################################*/

:root {
    /* font size */
    --fs-b: 14px;
    /* custom colors */
    --smartRed: #A41C1D;
    --smartBlue: #1c5396;
    --smartGreen: #497D38;
    --smartYellow: #c7a534;
    /* theme colors */
    --brColor: #dfdfdf;
    --textColor: #000;
    --orangeBtn: rgb(97, 90, 90);
}

/* tablet up */
@media (min-width: 768px) {
    :root {
        /* font size */
        --fs-b: 16px;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 991px) {
    :root {
        /* font size */
        --fs-b: 18px;
    }
}

/* end laptop up */

/* desktop up */
@media (min-width: 1300px) {
    :root {
        /* font size */
        --fs-b: 22px;
    }
}

/*###################################################*/
/*...................................................*/
/* end root variables                                */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* general properties */
/*...................................................*/
/*###################################################*/

html {
    /* scroll smooth from nav control */
    scroll-behavior: smooth;
    /* font size general control using variable */
    font-size: var(--fs-b);

}

body {
    /* scroll spy */
    overflow-y: scroll;
    background-color: var(--brColor);
    color: var(--textColor);
}

/*###################################################*/
/*...................................................*/
/* end general properties */
/*...................................................*/
/*###################################################*/


/*-------------------------------*/
/* navbar */
/*-------------------------------*/

.brand-logo {
    width: 2.3rem;
    height: 2.3rem;
}

/* for light mode */
.bg-light-custom {
    background-color: rgb(190, 179, 179);
}

/*-------------------------------*/
/* end navbar */
/*-------------------------------*/


/*###################################################*/
/*...................................................*/
/* parallax */
/*...................................................*/
/*###################################################*/

.divider {
    height: auto;
    min-height: 35vh;
    display: block;
    position: relative;
    opacity: 1;
    color: var(--textColor);

}

.divider::before {
    content: "";
    background: url("../images/power_ideas_tablet.jpg") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter: opacity(0.5) grayscale(0.2);
    -webkit-filter: opacity(0.5) grayscale(0.2);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}


/* endlandscape cellphone up */

/* Laptops up parallax working */

@media (min-width: 991px) {
    .divider {
        height: 35vh;
        display: block;
        position: relative;
        opacity: 1;
    }

    .divider::before {
        content: "";
        background: url("../images/power_ideas.jpg") no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        filter: opacity(0.5) grayscale(0.2);
        -webkit-filter: opacity(0.5) grayscale(0.2);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
    }

}

/*-------------------------------*/
/* fonts */
/*-------------------------------*/

.divider-p {

    font-size: 2rem;

}

.divider-text {

    font-size: 1rem;

}

.divider-icon {

    font-size: 4rem;


}


/* landscape cellphone up */
@media (min-width: 576px) {
    .divider-p {

        font-size: 3.5rem;

    }

    .divider-text {
        font-size: 1.2rem;
    }

    .divider-icon {

        font-size: 7rem;
    }
}

/* end Laptops up */

/*-------------------------------*/
/* end fonts */
/*-------------------------------*/


.scroll-adjust {
    display: block;
    position: relative;
    top: -3.3rem;
    visibility: hidden;
}

/*###################################################*/
/*...................................................*/
/* end parallax */
/*...................................................*/
/*###################################################*/

/*-------------------------------*/
/* cover */
/*-------------------------------*/

#inicio {
    min-height: 100vh;
    background-color: rgb(37, 35, 35);
    color: rgb(92, 88, 88);
}

.flecha-down {
    color: #fff;
    font-size: 3rem;
}

.cover {
    background-image: url(../images/smartCenter.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
}

/*-------------------------------*/
/* end cover */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* row links */
/*...................................................*/
/*###################################################*/
.grid-sections-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(2rem, auto);
    grid-gap: 0.2rem;
}

/* cellphone landscape up */
@media (min-width: 576px) {
    .grid-sections-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(2rem, auto);
        grid-gap: 0.5rem;
    }
}

/* end cellphone landscape up */
.links {
    padding: 1rem;
    margin: 0px;
    width: 100%;
    border: transparent solid 4px;
    transition: border 0.3s linear;
    -webkit-transition: border 0.3s linear;
    -moz-transition: border 0.3s linear;
    -ms-transition: border 0.3s linear;
    -o-transition: border 0.3s linear;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: start;
    padding-left: 25%;

}

.links:hover {

    border: #fff solid 4px;
    text-decoration: none;
    color: #fff;
}

.pleca {
    background-color: #000;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
}

.success {
    background-color: var(--smartYellow);
}

.meeting {
    background-color: var(--smartBlue);
}

.advisory {
    background-color: var(--smartRed);
}

.reload {
    background-color: var(--smartGreen);
    font-size: 0.7rem;
}

.logos-link-bar-succes {
    width: 2rem;
    height: auto;
}

.logos-link-bar {
    width: 4.2rem;
    height: auto;
}

/*###################################################*/
/*...................................................*/
/* end row links */
/*...................................................*/
/*###################################################*/


/*-------------------------------*/
/* sobre nosotros */
/*-------------------------------*/

.text-nosotros {
    color: var(--textColor);
}

.orange-btn {
    background-color: var(--orangeBtn);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

/*-------------------------------*/
/* end sobre nosotros */
/*-------------------------------*/


/*-------------------------------*/
/* nuestras áreas */
/*-------------------------------*/
.grid-sections-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(3rem, auto);
}

.success-btn {
    background-color: var(--smartYellow);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.meeting-btn {
    background-color: var(--smartBlue);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.advisory-btn {
    background-color: var(--smartRed);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.reload-btn {
    background-color: var(--smartGreen);
    font-size: 0.7rem;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

#success-modal {
    background-color: var(--smartYellow);
}



#meeting-modal {
    background-color: var(--smartBlue);
}



#advisory-modal {
    background-color: var(--smartRed);
}



#reload-modal {
    background-color: var(--smartGreen);
}

.success-color {
    color: var(--smartYellow);
}

.meeting-color {
    color: var(--smartBlue);
}

.advisory-color {
    color: var(--smartRed);
}

.reload-color {
    color: var(--smartGreen);
}

/* cellphone landscape up */
@media (min-width: 576px) {
    .grid-sections-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(3rem, auto);
    }
}

/* end cellphone landscape up */


/*-------------------------------*/
/* end nuestras áreas */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* noticias */
/*...................................................*/
/*###################################################*/
/*-------------------------------*/
/* naming */
/*-------------------------------*/


/* principal */
.directos {
    grid-area: directos;
    padding: 30px;
    background-color: rgba(19, 18, 19, 0.431);


}

.num-semestre {
    grid-area: num-semestre;
    padding: 30px;
    background-color: rgba(19, 18, 19, 0.171);
    flex-direction: column;

}


.indirectos {
    grid-area: indirectos;
    padding: 30px;
    background-color: rgb(19, 18, 19);

}

.operacion {
    grid-area: operacion;
    padding: 30px;
    background-color: rgba(19, 18, 19, 0.685);

}

.smart-logo-grid {
    grid-area: smart-logo-grid;
    display: none;
    background-color: var(--brColor);
}

/* end principal */

/* success */
.success-logo-grid {
    grid-area: success-logo-grid;
    background-color: var(--smartYellow);
    flex-direction: column;
}

.success-stats-one {
    grid-area: success-stats-one;
    padding: 30px;
    background-color: #c2a64ade;
    flex-direction: column;
}

.success-stats-two {
    grid-area: success-stats-two;
    padding: 30px;
    background-color: #c2a64ab4;
    flex-direction: column;

}

.success-stats-three {
    grid-area: success-stats-three;
    padding: 30px;
    background-color: #c2a64a75;
    flex-direction: column;

}

.success-stats-four {
    grid-area: success-stats-four;
    padding: 30px;
    background-color: #c2a64a50;
    flex-direction: column;

}

/* end success */

/* meeting */
.meeting-logo-grid {
    grid-area: meeting-logo-grid;
    background-color: var(--smartBlue);
    flex-direction: column;
}

.meeting-stats-one {
    grid-area: meeting-stats-one;
    background-color: #1c5396d0;
    flex-direction: column;

}

.meeting-stats-two {
    grid-area: meeting-stats-two;
    background-color: #1c5396a2;
    flex-direction: column;
}

.meeting-stats-three {
    grid-area: meeting-stats-three;
    background-color: #1c539669;
    flex-direction: column;
}

.meeting-stats-four {
    grid-area: meeting-stats-four;
    background-color: #1c539649;
    flex-direction: column;
}

/* end meeting */

/* advisory */
.advisory-logo-grid {
    grid-area: advisory-logo-grid;
    background-color: var(--smartRed);
    flex-direction: column;
}

.advisory-stats-one {
    grid-area: advisory-stats-one;
    background-color: #972b25d5;
    flex-direction: column;
}

.advisory-stats-two {
    grid-area: advisory-stats-two;
    background-color: #972b25a9;
}

.advisory-stats-three {
    grid-area: advisory-stats-three;
    background-color: #972b257a;

}

.advisory-stats-four {
    grid-area: advisory-stats-four;
    background-color: #972b2536;
    flex-direction: column;
}

/* end advisory */

/* reload */
.reload-logo-grid {
    grid-area: reload-logo-grid;
    background-color: var(--smartGreen);
    flex-direction: column;
}

.reload-stats-one {
    grid-area: reload-stats-one;
    background-color: #557b40bd;
    flex-direction: column;

}

.reload-stats-two {
    grid-area: reload-stats-two;
    background-color: #557b408a;
    flex-direction: column;

}

.reload-stats-three {
    grid-area: reload-stats-three;
    background-color: #557b4057;
    flex-direction: column;
}

.reload-stats-four {
    grid-area: reload-stats-four;
    background-color: #557b402c;
    flex-direction: column;
}

/* end reload */

/* twitter */
.twitter {
    grid-area: twitter;
    background-color: #2a2f32;
}

/* end twitter */


/*-------------------------------*/
/* end naming */
/*-------------------------------*/

/*-------------------------------*/
/* grid */
/*-------------------------------*/

#noticias-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(4rem, auto);
    grid-template-areas:
        "operacion    operacion    directos     directos "
        "operacion    operacion    directos     directos "
        "num-semestre num-semestre indirectos   indirectos"
        "num-semestre num-semestre indirectos   indirectos"
        "success-logo-grid   success-logo-grid   success-stats-one  success-stats-one"
        "success-logo-grid   success-logo-grid   success-stats-one  success-stats-one"
        "success-logo-grid   success-logo-grid   success-stats-two  success-stats-two"
        "success-logo-grid   success-logo-grid   success-stats-two  success-stats-two"
        "success-stats-three success-stats-three success-stats-four success-stats-four"
        "success-stats-three success-stats-three success-stats-four success-stats-four"
        "meeting-logo-grid   meeting-logo-grid   meeting-stats-one  meeting-stats-one"
        "meeting-logo-grid   meeting-logo-grid   meeting-stats-one  meeting-stats-one"
        "meeting-logo-grid   meeting-logo-grid   meeting-stats-two  meeting-stats-two"
        "meeting-logo-grid   meeting-logo-grid   meeting-stats-two  meeting-stats-two"
        "meeting-stats-three meeting-stats-three meeting-stats-four meeting-stats-four"
        "meeting-stats-three meeting-stats-three meeting-stats-four meeting-stats-four"
        "advisory-logo-grid   advisory-logo-grid   advisory-stats-one  advisory-stats-one"
        "advisory-logo-grid   advisory-logo-grid   advisory-stats-one  advisory-stats-one"
        "advisory-logo-grid   advisory-logo-grid   advisory-stats-two  advisory-stats-two"
        "advisory-logo-grid   advisory-logo-grid   advisory-stats-two  advisory-stats-two"
        "advisory-stats-three advisory-stats-three advisory-stats-four advisory-stats-four"
        "advisory-stats-three advisory-stats-three advisory-stats-four advisory-stats-four"
        "reload-logo-grid   reload-logo-grid   reload-stats-one  reload-stats-one"
        "reload-logo-grid   reload-logo-grid   reload-stats-one  reload-stats-one"
        "reload-logo-grid   reload-logo-grid   reload-stats-two  reload-stats-two"
        "reload-logo-grid   reload-logo-grid   reload-stats-two  reload-stats-two"
        "reload-stats-three reload-stats-three reload-stats-four reload-stats-four"
        "reload-stats-three reload-stats-three reload-stats-four reload-stats-four"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
    ;
    background-color: #000;
}

/* tablet up */
@media (min-width: 768px) {
    #noticias-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(8rem, auto);
        grid-template-areas:
            "success-logo-grid  success-stats-four   operacion        twitter           twitter"
            "success-logo-grid  success-stats-three  directos         twitter           twitter"
            "success-stats-two  success-stats-one    smart-logo-grid  twitter           twitter"
            "advisory-stats-two advisory-stats-one   smart-logo-grid  twitter           twitter"
            "advisory-logo-grid advisory-stats-three num-semestre     twitter           twitter"
            "advisory-logo-grid advisory-stats-four   indirectos      twitter           twitter"
            "meeting-stats-one  meeting-stats-two      .              reload-stats-one  reload-stats-two"
            "meeting-stats-three meeting-logo-grid      .             reload-logo-grid  reload-stats-three"
            "meeting-stats-four meeting-logo-grid      .             reload-logo-grid  reload-stats-four"
        ;
    }

    .smart-logo-grid {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 1279px) {
    #noticias-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: minmax(8rem, auto);
        grid-template-areas:
            "success-logo-grid  success-stats-four   operacion       meeting-stats-four  meeting-logo-grid twitter twitter"
            "success-logo-grid  success-stats-three  directos        meeting-stats-three meeting-logo-grid twitter twitter"
            "success-stats-two  success-stats-one    smart-logo-grid meeting-stats-one   meeting-stats-two twitter twitter"
            "advisory-stats-two advisory-stats-one   smart-logo-grid reload-stats-one    reload-stats-two  twitter twitter"
            "advisory-logo-grid advisory-stats-three num-semestre    reload-stats-three  reload-logo-grid  twitter twitter"
            "advisory-logo-grid advisory-stats-four   indirectos     reload-stats-four   reload-logo-grid  twitter twitter"
        ;
    }
}

/* end laptop up */

/*-------------------------------*/
/* end grid */
/*-------------------------------*/

/*-------------------------------*/
/* text */
/*-------------------------------*/
.w-number {
    color: #fff;
    font-size: 3rem;
    font-weight: 200;
}

.b-number {
    color: #000;
    font-size: 3rem;
    font-weight: 200;
}

.w-text {
    color: #fff;
}

.b-text {
    color: #000;
}

/*-------------------------------*/
/* end text */
/*-------------------------------*/




/*###################################################*/
/*...................................................*/
/* end noticias */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* contacto */
/*...................................................*/
/*###################################################*/
#contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.7rem;
}

#contact-form input[type=email],
#contact-form input[type=text] {
    margin: 0.7rem 0;
    padding: 0.5rem;
    width: 100%;
}

#contact-form textarea {
    width: 100%;
}

#contact-form textarea:focus {
    height: 190px;
    overflow: auto;
}

.enviar-mensaje {
    width: 50%;
}

/*-------------------------------*/
/* directorio */
/*-------------------------------*/

/* isotope */

.directoryFilter {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.directoryFilter .button {
    display: inline-block !important;
    margin: 5px 5px;
    padding: 16px 18px;
    font-size: 13px;
    line-height: 15px;
    color: var(--textColor);
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    border: solid 1px #3b606b;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    background-color: var(--brColor);
}

.directoryFilter button:hover {
    border: solid 1px #1d7f9c;
    color: #15596e;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.directoryFilter button.current {
    background: #15596e;
    border: solid 1px #15596e;
    color: #fff;
}

.grid li {
    list-style: none;
}

.grid {
    padding: 0px;
}

/* end isotope */

/* tarjetas */
.our-team-main {
    width: 100%;
    height: auto;
    /* border-bottom: 5px #323233 solid; */
    background: rgba(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    margin-bottom: 28px;
}


.our-team-main img {
    border-radius: 50%;
    margin-bottom: 15px;
    width: 6rem;
    height: 6rem;
    border: 4px solid #fff;
}

.our-team-main h3 {
    font-size: 0.9rem;
    font-weight: 700;
}

.our-team-main p {
    margin-bottom: 0;
}

.team-back {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 15px 0 15px;
    text-align: left;
    background: rgba(255, 255, 255);
    font-size: 0.8rem;

}

.team-front {
    width: 100%;
    height: auto;
    min-height: 13rem;
    position: relative;
    z-index: 10;
    background: #29586c;
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
    color: #fff;
}

.our-team-main:hover .team-front {
    bottom: -200px;
    transition: all 0.5s ease;
}

.our-team-main:hover {
    border-color: #777;
    transition: 0.5s;
}

.success-fltbc {
    background-color: var(--smartYellow);
}

.meeting-fltbc {
    background-color: var(--smartBlue);
}

.advisory-fltbc {
    background-color: var(--smartRed);
}

.reload-fltbc {
    background-color: var(--smartGreen);
}

/* end tarjetas */

/*-------------------------------*/
/* end directorio */
/*-------------------------------*/
/*###################################################*/
/*...................................................*/
/* end contacto */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* footer */
/*...................................................*/
/*###################################################*/

footer {
    background-color: #2e3338;
}

.footer {
    font-size: 16px;
    line-height: 36px;
    clear: both;
    color: #9a9a9a;
    text-align: center;
    padding: 100px 0;
}

.footer>ul>li {
    list-style: none;
}

.footer a {
    color: #9a9a9a;
}

.footer a :hover {
    color: yellow;
}

.social-footer a {
    margin: 0 10px;
    font-size: 20px;
}

/*###################################################*/
/*...................................................*/
/* end footer */
/*...................................................*/
/*###################################################*/