/*###################################################*/
/*...................................................*/
/* doc loader */
/*...................................................*/
/*###################################################*/

.doc-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
}

.doc-loader td {
    text-align: center;
    vertical-align: middle;
}

.doc-loader img {
    width: 90px;
    height: 90px;
}

/*###################################################*/
/*...................................................*/
/* end doc loader */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* root variables (responsive font size installed)   */
/*...................................................*/
/*###################################################*/

:root {
    /* font size */
    --fs-b: 14px;
    /* colors */
    --smartRed: #A41C1D;
    --smartBlue: #1B2E4A;
    --smartGreen: #497D38;
    --smartYellow: #c7a534;
}

/* tablet up */
@media (min-width: 768px) {
    :root {
        /* font size */
        --fs-b: 16px;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 991px) {
    :root {
        /* font size */
        --fs-b: 18px;
    }
}

/* end laptop up */

/* desktop up */
@media (min-width: 1300px) {
    :root {
        /* font size */
        --fs-b: 22px;
    }
}

/*###################################################*/
/*...................................................*/
/* end root variables                                */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* general properties */
/*...................................................*/
/*###################################################*/

html {
    /* scroll smooth from nav control */
    scroll-behavior: smooth;
    /* font size general control using variable */
    font-size: var(--fs-b);

}

body {
    /* scroll spy */
    overflow-y: scroll;
    background-color: #000;
}

/*###################################################*/
/*...................................................*/
/* end general properties */
/*...................................................*/
/*###################################################*/


/*-------------------------------*/
/* navbar */
/*-------------------------------*/

.brand-logo {
    width: 2.3rem;
    height: 2.3rem;
}

/*-------------------------------*/
/* end navbar */
/*-------------------------------*/


/*###################################################*/
/*...................................................*/
/* parallax */
/*...................................................*/
/*###################################################*/

.divider {
    height: 35vh;
    display: block;
    position: relative;
    opacity: 1;
    color: #fff;
}

.divider::after {
    content: "";
    background: url("../images/power_ideas.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.1;
    -webkit-filter: grayscale(10%);
    filter: grayscale(10%);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

/* endlandscape cellphone up */

/* Laptops up parallax working */

@media (min-width: 991px) {
    .divider {
        height: 35vh;
        display: block;
        position: relative;
        opacity: 1;
    }

    .divider::after {
        content: "";
        background: url("../images/power_ideas.jpg") no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-filter: grayscale(10%);
        filter: grayscale(10%);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;

    }
}

/*-------------------------------*/
/* fonts */
/*-------------------------------*/

.divider-p {

    font-size: 2rem;

}

.divider-text {

    font-size: 1rem;
}

.divider-icon {

    font-size: 4rem;
}

/* landscape cellphone up */
@media (min-width: 576px) {
    .divider-p {

        font-size: 3.5rem;

    }

    .divider-text {
        font-size: 1.2rem;
    }

    .divider-icon {

        font-size: 7rem;
    }
}

/* end Laptops up */

/*-------------------------------*/
/* end fonts */
/*-------------------------------*/


.scroll-adjust {
    display: block;
    position: relative;
    top: -3.3rem;
    visibility: hidden;
}

/*###################################################*/
/*...................................................*/
/* end parallax */
/*...................................................*/
/*###################################################*/

/*-------------------------------*/
/* cover */
/*-------------------------------*/

#inicio {
    min-height: 100vh;
    background-color: rgb(37, 35, 35);
    color: rgb(92, 88, 88);
}

.flecha-down {
    color: #fff;
    font-size: 3rem;
}

/*-------------------------------*/
/* end cover */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* row links */
/*...................................................*/
/*###################################################*/
.grid-sections-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(2rem, auto);
    grid-gap: 0.2rem;
}

/* cellphone landscape up */
@media (min-width: 576px) {
    .grid-sections-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(2rem, auto);
        grid-gap: 0.5rem;
    }
}

/* end cellphone landscape up */
.links {
    padding: 1rem;
    margin: 0px;
    width: 100%;
    border: transparent solid 4px;
    transition: border 0.3s linear;
    -webkit-transition: border 0.3s linear;
    -moz-transition: border 0.3s linear;
    -ms-transition: border 0.3s linear;
    -o-transition: border 0.3s linear;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.links:hover {

    border: #fff solid 4px;
    text-decoration: none;
    color: #fff;
}

.pleca {
    background-color: #000;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
}

.success {
    background-color: var(--smartYellow);
}

.meeting {
    background-color: var(--smartBlue);
}

.advisory {
    background-color: var(--smartRed);
}

.reload {
    background-color: var(--smartGreen);
    font-size: 0.7rem;
}

.logos-link-bar-succes {
    width: 2rem;
    height: auto;
}

.logos-link-bar {
    width: 4.2rem;
    height: auto;
}

/*###################################################*/
/*...................................................*/
/* end row links */
/*...................................................*/
/*###################################################*/


/*-------------------------------*/
/* sobre nosotros */
/*-------------------------------*/

.text-nosotros {
    color: #fff;
}

/*-------------------------------*/
/* end sobre nosotros */
/*-------------------------------*/
.grid-sections-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(3rem, auto);
}

.success-btn {
    background-color: var(--smartYellow);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.meeting-btn {
    background-color: var(--smartBlue);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.advisory-btn {
    background-color: var(--smartRed);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.reload-btn {
    background-color: var(--smartGreen);
    font-size: 0.7rem;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

#success-modal {
    background-color: var(--smartYellow);
}



#meeting-modal {
    background-color: var(--smartBlue);
}



#advisory-modal {
    background-color: var(--smartRed);
}



#reload-modal {
    background-color: var(--smartGreen);
}

.success-color {
    color: var(--smartYellow);
}

.meeting-color {
    color: var(--smartBlue);
}

.advisory-color {
    color: var(--smartRed);
}

.reload-color {
    color: var(--smartGreen);
}

/* cellphone landscape up */
@media (min-width: 576px) {
    .grid-sections-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(3rem, auto);
    }
}

/* end cellphone landscape up */

/*-------------------------------*/
/* nuestras áreas */
/*-------------------------------*/



/*-------------------------------*/
/* end nuestras áreas */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* footer */
/*...................................................*/
/*###################################################*/

footer {
    background-color: #2e3338;
}

.footer {
    font-size: 16px;
    line-height: 36px;
    clear: both;
    color: #9a9a9a;
    text-align: center;
    padding: 100px 0;
}

.footer>ul>li {
    list-style: none;
}

.footer a {
    color: #9a9a9a;
}

.footer a :hover {
    color: yellow;
}

.social-footer a {
    margin: 0 10px;
    font-size: 20px;
}

/*###################################################*/
/*...................................................*/
/* end footer */
/*...................................................*/
/*###################################################*/