/*###################################################*/
/*...................................................*/
/* WhatIsPar(component) */
/*...................................................*/
/*###################################################*/

/*-------------------------------*/
/* button */
/*-------------------------------*/

.buttonContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
   
}
.explanationText{
    display: block;
    text-align: center;
    font-size: 0.8rem;
}


/*-------------------------------*/
/* end button */
/*-------------------------------*/

/*-------------------------------*/
/* content */
/*-------------------------------*/
.expandedContent{
    padding: 1.5rem;
}
.expandedContent span{
    font-size: 1.5rem;
    color: var(--smartBlue);
    font-weight: 100;
}


/*-------------------------------*/
/* end content */
/*-------------------------------*/


/*###################################################*/
/*...................................................*/
/* end WhatIsPar(component) */
/*...................................................*/
/*###################################################*/
