/*###################################################*/
/*...................................................*/
/* YoutubeCarousel(component) */
/*...................................................*/
/*###################################################*/

/*-------------------------------*/
/* carruseles */
/*-------------------------------*/

.carousel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  margin-bottom: 0.1rem;
}
/* Hide scrollbar for Safari */
.carousel::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.carousel {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*-------------------------------*/
/* elements */
/*-------------------------------*/

.carousel button{
    all: unset;
    cursor: pointer;
    display: flex;
    gap: 0.7rem;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 9px;
    min-width: 10rem;
    min-height: 8.3rem;
    transition: all 0.3s ease;
    
  
}

.carousel button:is(:hover){
    transform: scale(0.9);
}

.carousel button:active{
    transform: scale(0.9);
    background-color: rgb(84, 82, 82);
}
.carouselItem:first-child {
    margin-left: 0.5rem;
}

.carouselItem {
  display: flex;
  justify-content: flex-start;

}
.carouselItem figcaption{
    font-size: 0.7rem;
}

.portrait button {
    align-items: flex-end;
}

.landscape button {
    gap: 0.3rem;
    flex-direction: column;
}



.portrait .carouselItem>img{
    height: 100%;
    width: auto;
    aspect-ratio: 9/16;    
    

}
.landscape .carouselItem>img{ 
    height: 6rem;
     aspect-ratio: 16 / 9;
     border-radius: 5px;
}

/*-------------------------------*/
/* end elements */
/*-------------------------------*/

/*-------------------------------*/
/* prev/next buttons */
/*-------------------------------*/


.container{
    position: relative;
    overflow: hidden;
}
.prevButton,
.nextButton {
  position: absolute;
  top: 30%;
  padding: 0.5em 1em;
  background-color: transparent;
  border: none;
  opacity: 0.9;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 2;
}

.prevButton:hover,
.nextButton:hover {
  

  transform: scale(1.2);
}

.prevButton svg,
.nextButton svg {
    font-size: 3rem;
    color: rgb(179, 173, 173);
}

/* ---controls for carousel button visibility--- */

.showButton{
    display: block;
}

.hideButton{
    display: none;
}

@media (pointer: coarse) {
  /* en touch devices nunca aparecen las flechas */
    .showButton,
    .hideButton {
        display: none;
    }
}
/* ---end controls for carousel button visibility--- */

.prevButton {
  left: 0.5em;
}

.nextButton {
  right: 0.5em;
}

/*-------------------------------*/
/* end prev/next buttons */
/*-------------------------------*/

/*-------------------------------*/
/* PlaceHolders */
/*-------------------------------*/

.carouselPlaceHolder{
    display: flex;
    gap: 0.7rem;
    background-color: #e8e6e6;
    padding: 0.5rem;
    border-radius: 5px;
    width: 12rem;
    height: 5.5rem;
    transition: all 0.3s ease;
    animation: placeholder-fade 3s linear infinite;
}
/* animación  */
@keyframes placeholder-fade {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.7;
    }
}
/* end animación  */

.portrait .carouselPlaceHolder {
    align-items: flex-end;
}

.landscape .carouselPlaceHolder {
    gap: 0.3rem;
    flex-direction: column;
}

.portrait .PlaceHolderPreview{
    width: 3.5rem;
    height: 5.3rem;
    background-color: rgb(78, 73, 73);
}
.landscape .PlaceHolderPreview{
    width: 10rem;
    height: 4rem;
    background-color: rgb(78, 73, 73);
}

.landscape .PlaceHolderTitle{
    width: 10rem;
    height: 0.6rem;
    border-radius: 15px;
    background-color: rgb(49, 46, 46);
}

.landscape .PlaceHolderTitleShort{
     width: 4.5rem;
    height: 0.6rem;
    border-radius: 15px;
    background-color: rgb(103, 97, 97);
}

.portrait  .PlaceHolderTitle{
    width: 4.5rem;
    height: 0.6rem;
    border-radius: 15px;
    background-color: rgb(49, 46, 46);
}

.portrait .PlaceHolderTitleShort{
     width: 2.5rem;
    height: 0.6rem;
    margin-top: 0.5rem;
    border-radius: 15px;
    background-color: rgb(103, 97, 97);
}
/*-------------------------------*/
/* end PlaceHolders */
/*-------------------------------*/



/*###################################################*/
/*...................................................*/
/* end YoutubeCarousel(component) */
/*...................................................*/
/*###################################################*/
