/*###################################################*/
/*...................................................*/
/* LinkCardParallax(component) */
/*...................................................*/
/*###################################################*/


/*-------------------------------*/
/* base styles */
/*-------------------------------*/

.cardBase {
  position: relative;
  background-color: var(--cardBackgroundColor);
  border: none;
  border-radius: 9px;
  overflow: hidden; 
}

.linkCard{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  /* HACK: images inside linkCard (parallax images) will have a negative index so it's necessary to restart the stack for preserving them on screen  */
  isolation: isolate;
  transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
}


.linkCard:hover,
.linkCard:focus{
  transform: scale(0.95);  
}

/*-------------------------------*/
/* end base styles */
/*-------------------------------*/

.linkIcon{
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 1rem;
}

/*-------------------------------*/
/* parallax images */
/*-------------------------------*/

.parallaxImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  /* Default position  for smooth transitions in some browsers*/
  transform: translateY(0);
  /* HACK: Hint to the browser for better performance */ 
  will-change: transform; 
  z-index: -1;
}

/* If user prefers to avoid motion: */
@media (prefers-reduced-motion: reduce) {
  .parallaxImg {
    transform: none !important;
  }
}


/*-------------------------------*/
/* end parallax images */
/*-------------------------------*/




/*###################################################*/
/*...................................................*/
/* end LinkCardParallax(component) */
/*...................................................*/
/*###################################################*/
