/*###################################################*/
/*...................................................*/
/* SmartTips(component) */
/*...................................................*/
/*###################################################*/

.tips {
    width: 100%;
    overflow: visible;
    margin-right: none !important;
}

/*-------------------------------*/
/* title */
/*-------------------------------*/

/* just mobile */
.title {
    margin-bottom: 6rem;
    text-align: center;
    font-size: 3.3rem;
    font-weight: 200;
}


/*-------------------------------*/
/* end title */
/*-------------------------------*/

/*-------------------------------*/
/* contenedor flex */
/*-------------------------------*/

.flexTips{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* tablet landscape up */
@media (min-width: 1024.1px) {
   .flexTips{
        display: flex;
        flex-direction: row;
    } 
    .preview {
        width: 40%;
        
    }
    .carousels{
        width: 60%;
    }
}
/* end tablet up */



/*-------------------------------*/
/* end contenedor flex */
/*-------------------------------*/

/*-------------------------------*/
/* carousels */
/*-------------------------------*/

.carousel{
    position: relative;
    background: linear-gradient(to right,  var(--background),#e8e6e6);
    background-color: 
#e8e6e6;
    margin: 3rem 0;
    padding: 2rem 0;
    color: var(--smartBlue);

}
.carouselTitle{
    margin: 1rem;
    margin-bottom: 2rem;
    padding: 0;
    opacity: 0.8;
    font-size: 1.5rem;
}
.carouselIcon{
    position: absolute;
    top:-17%;
    left: 80%;
    color: var(--smartBlueMono);
    font-size: 3.2rem;
}
/* cellphone landscape up */
@media (min-width: 576px) {
    .carouselIcon{
    left: 88%;
    }
}
/* end cellphone landscape up */



/*-------------------------------*/
/* end carousels */
/*-------------------------------*/

/*-------------------------------*/
/* preview */
/*-------------------------------*/

 .preview {
    
    padding: 1rem;
    width: 100%;
    min-height: 100%;
    

}

.preview iframe,
.preview object,
.preview embed {
  min-width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 9px;
  height: calc(100dvh - var(--navHeight) - 1rem);
}

/*-------------------------------*/
/* end preview */
/*-------------------------------*/



/*###################################################*/
/*...................................................*/
/* end SmartTips(component) */
/*...................................................*/
/*###################################################*/
