/*###################################################*/
/*...................................................*/
/* Info(component) */
/*...................................................*/
/*###################################################*/
.info{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.highlight{
    font-weight: 200;
    color: var(--primary);
}

.highlightBold{
    font-weight: 800;
    color: var(--primary);
}

.highlightRed{
    font-weight: 200;
    color: var(--primary);
}
/*###################################################*/
/*...................................................*/
/* end Info(component) */
/*...................................................*/
/*###################################################*/
