/*###################################################*/
/*...................................................*/
/* VideoFrame */
/*...................................................*/
/*###################################################*/


.videoFrame {
    overflow: hidden;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: block;
}

.videoFrame video {
    display: block;
    object-fit: cover;
    object-position: top center;
    height: 100%;
    width: 100%;
    min-width: inherit;

}

/* tablet portrait up */
@media (min-width: 768px) {
    .videoFrame {
        display: none;
    }
}

/* end tablet up */

/* tablet landscape up */
@media (min-width: 1054.1px) {
    .videoFrame {
        display: block;
        max-height: calc(100vh - var(--navHeight));
    }

}
/*-------------------------------*/
/* video header */
/*-------------------------------*/

.videoHeader {
    position: relative;
    top: -40%;
    z-index: 2;
    color: var(--background);
    text-shadow: 3px 3px 8px var(--text);
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
}

/* tablet portrait up */
@media (min-width: 768px) {
    .videoHeader {
        font-size: 4rem;
        margin-bottom: 1.5rem;
        top: -15%;
    }
}

/* end tablet up */

/* desktop up */
@media (min-width: 1054.1px) {
    .videoHeader {
        font-size: 1.6rem;
        margin-bottom: unset;
    }

}

/* end desktop up */

/*-------------------------------*/
/* end video header */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end VideoFrame */
/*...................................................*/
/*###################################################*/



