/*###################################################*/
/*...................................................*/
/* WhoAreWe(component) */
/*...................................................*/
/*###################################################*/


.whoAreWe {
    padding: 5rem 1rem;
}


/*-------------------------------*/
/* title */
/*-------------------------------*/

/* just mobile */
.title {
    margin-bottom: 6rem;
    text-align: center;
    font-size: 3.3rem;
    font-weight: 200;
}


/*-------------------------------*/
/* end title */
/*-------------------------------*/

/*-------------------------------*/
/* grid basics*/
/*-------------------------------*/

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
}

/* tablet portrait up */
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* end tablet up */

/* tablet landscape up */
@media (min-width: 1054.1px) {
    .grid{
        grid-template-columns: repeat(5, 1fr);
    }
}

/* end tablet up */


/*-------------------------------*/
/* end grid basics */
/*-------------------------------*/

/*-------------------------------*/
/* Template areas */
/*-------------------------------*/

.grid {
    grid-template-areas: 
    "Cover"
    "Info"
    "Ciie"
    "Objectives"
    "ObjectivesExpanded"
    "Mission"
    "MissionExpanded"
    "History"
    "HistoryExpanded"
        
    ;
}

/* tablet portrait up */
@media (min-width: 768px) {
    .grid {
        grid-template-areas: 
    "Cover Cover"
    "Info Ciie"
    "ObjectivesExpanded ObjectivesExpanded"
    "Objectives Mission"
    "MissionExpanded MissionExpanded"
    "History ."
    "HistoryExpanded HistoryExpanded"

        
    ; 
    }
}

/* end tablet up */

/* tablet landscape up */
@media (min-width: 1054.1px) {
    .grid{
          grid-template-areas: 
    ". . ObjectivesExpanded ObjectivesExpanded ObjectivesExpanded"      
    "Cover Cover Info Ciie Objectives"
    "Cover Cover Mission History ."
    ". . MissionExpanded MissionExpanded MissionExpanded"
    ". . HistoryExpanded HistoryExpanded HistoryExpanded"
  
        
    ; 
    }
}

/* end tablet up */

/*-------------------------------*/
/* end Template areas */
/*-------------------------------*/

/*-------------------------------*/
/* tarjetas */
/*-------------------------------*/

.grid>article {
    background-color: var(--cardBackgroundColor);
    border-radius: var(--cardCurve);
}
/*-------------------------------*/
/* end tarjetas */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end WhoAreWe(component) */
/*...................................................*/
/*###################################################*/
