/*###################################################*/
/*...................................................*/
/* Objectives(component) */
/*...................................................*/
/*###################################################*/

.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

.cardContent header{
    width: 100%;
    min-height: 3rem;
    color: white;
    background-color: var(--smartBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.4rem;
}

.cardContent>div{
    display: flex;
    align-items: center;
    justify-content: center;
     min-height: 8rem;
}

/* tablet landscape up */
@media (min-width: 1024.1px) {
    .cardContent>div{
        font-size: 0.8rem;
    }
}
/* end tablet up */
/*-------------------------------*/
/* button */
/*-------------------------------*/

.buttonStyles {
    all: unset;
    background-color: var(--smartBlueMono);
    color: var(--background);
    padding: 0.6rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 1.4rem;
    font-size: 1.3rem;
}

.buttonStyles:hover,
.buttonStyles:focus {
    cursor: pointer;
    background-color: var(--background);
    color: var(--smartBlue);

}

/* tablet landscape up */
@media (min-width: 1054.1px) {
    .buttonStyles {
        font-size: 1rem;
        margin-top: 1rem;
    }
}

/* end tablet up */


/*-------------------------------*/
/* end button */
/*-------------------------------*/

/*-------------------------------*/
/* content */
/*-------------------------------*/

.objectivesList li{
    margin-bottom: 1rem;
}

/*-------------------------------*/
/* end content */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end Objectives(component) */
/*...................................................*/
/*###################################################*/
