/*###################################################*/
/*...................................................*/
/* PrepareAU(component) */
/*...................................................*/
/*###################################################*/


/* tablet portrait up */
@media (min-width: 768px) {
    .steps{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.8rem;
    }
    .advisoryPill{
        /* flex: 1; */
        flex-basis: 44%;
        height: 100%;
        min-height: 10rem;
    }
}
/* end tablet up */

/* tablet landscape up */
@media (min-width: 1024.1px) {
     .steps{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        gap: 0.8rem;
    }
    .advisoryPill{
        /* flex: 1; */
        flex-basis: 29%;
        height: 100%;
        min-height: 27vh;
    }
}
/* end tablet up */


.advisoryPill{
    background-color: #fff;
    padding: 1rem;
    border-radius: 15px;
    color: var(--text);
    margin-bottom: 1rem;

}

.pillNum{
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    color:var(--smartRed)
}
.pillFirst{
    font-size: 1.3rem;
    color: rgb(101, 98, 98);
}

.pillFirst svg{
    margin-right: 0.3rem;
}


/*###################################################*/
/*...................................................*/
/* end PrepareAU(component) */
/*...................................................*/
/*###################################################*/
