/*###################################################*/
/*...................................................*/
/* WhatIsAU(component) */
/*...................................................*/
/*###################################################*/

/*-------------------------------*/
/* button */
/*-------------------------------*/

.subtitle{
    display: block;
    font-size: 0.7rem;
    text-align: center;

}

/*-------------------------------*/
/* end button */
/*-------------------------------*/

/*-------------------------------*/
/* layout */
/*-------------------------------*/
/* tablet portrait up */
@media (min-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}
/* end tablet up */

.definition{
    padding-bottom: 2rem;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
  width: 70%; /* Set the image to take up the full width of the container */
  height: auto; /* Set the height to automatically adjust to maintain the aspect ratio */
  border-radius: 15px;

}


/* tablet portrait */
@media (min-width: 768px ) and (max-width: 1024.1px) {
    .image {
        flex: 1;
    }

    .definition {
        flex: 1; 
    }
    .image img {
     width: 100%; /* Set the image to take up the full width of the container */
    }

}
/* end tablet */

/*-------------------------------*/
/* end layout */
/*-------------------------------*/

.definition span{
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--smartGreen);
}

/*###################################################*/
/*...................................................*/
/* end WhatIsAU(component) */
/*...................................................*/
/*###################################################*/
