/*###################################################*/
/*...................................................*/
/* root properties */
/*...................................................*/
/*###################################################*/

:root {

  --animation-duration: 0.4s;
}

/*###################################################*/
/*...................................................*/
/* end root properties */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* nav */
/*...................................................*/
/*###################################################*/


nav[data-type="mobile"] {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background);
  padding: 0;
  color: var(--smartBlue);
  border-top: solid 1px var(--background-mono);
  min-height: var(--navMenu-height);
}

nav[data-type="mobile"].navMenuDialogOpen{
  border-top: none;
}

nav[data-type="mobile"] .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  padding: 1rem;
  min-width: 3rem;
  font-size: 0.8rem;
}

nav[data-type="mobile"] .item:hover {
  background-color: var(--primary);
  color: var(--smartBlue);
}

/*-------------------------------*/
/* nav icons */
/*-------------------------------*/

nav[data-type="mobile"] .item .icon {
  width: 1.8rem;
  font-size: 1.8rem;

}

/*-------------------------------*/
/* end nav icons */
/*-------------------------------*/


/*-------------------------------*/
/* hamburger & animation */
/*-------------------------------*/


.hamburger { 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 5px;
  cursor: pointer;
   min-width: 3rem;
 
}

.hamburger > div{
  width: 24px;
  height: 2px;
  background-color: var(--smartBlue);
  transition: transform var(--animation-duration) ease;
}

.hamburger.open > .line1 {
  transform: rotate(45deg) translate(0px, 5px);
}

.hamburger.open > .line2 {
  transform: rotate(-45deg) translate(0px, -5px);
}


/*-------------------------------*/
/* end hamburger & animation */
/*-------------------------------*/



/*###################################################*/
/*...................................................*/
/* end nav */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* slide menu */
/*...................................................*/
/*###################################################*/


.slideMenu {
  display: none;
  position: fixed;
  bottom: var(--navMenu-height); 
  left: 0;
  width: 100vw;

  background-color: var(--background);
  color: var(--text);
  box-shadow: 0 -2px 3px var(--background-mono);

  padding: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  z-index: 900;
  border-style: none;
  margin: 0;
  
}

.slideMenu[open] {
 display: block;
 animation: slideIn var(--animation-duration);
}

.slideMenu[open].closing{
  animation: slideOut var(--animation-duration);
  
}

/*-------------------------------*/
/* animations */
/*-------------------------------*/

@keyframes slideOut {
  from {
    opacity: 100%;
    transform: translateY(0);
  }
  to {

    opacity: 50%;
    transform: translateY(100%);
  }
}

@keyframes slideIn {
  from {

    transform: translateY(100%);
  }
  to {

    transform: translateY(0);
  }
}

/*-------------------------------*/
/* end animations */
/*-------------------------------*/

/*-------------------------------*/
/* links */
/*-------------------------------*/


.slideMenu a {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
  padding: 10px 0;

  border-bottom: 1px solid #ddd;
  color: var(--text);
}

.slideMenu a:hover {
  background-color: var(--smartBlue);
  color: var(--primary);
}

/*-------------------------------*/
/* end links */
/*-------------------------------*/




/*###################################################*/
/*...................................................*/
/* end slide menu */
/*...................................................*/
/*###################################################*/



