/*###################################################*/
/*...................................................*/
/* LinkCard(component) */
/*...................................................*/
/*###################################################*/

/*-------------------------------*/
/* base styles */
/*-------------------------------*/

.cardBase {
  position: relative;
  background-color: #e8e6e6;
  border: none;
  border-radius: 9px;
  overflow: hidden; 
}

.linkCard{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;

  transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
}

.linkCard:hover,
.linkCard:focus{
  transform: scale(0.95);  
}

/*-------------------------------*/
/* end base styles */
/*-------------------------------*/

.linkIcon{
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 1rem;
}



/*###################################################*/
/*...................................................*/
/* end LinkCard(component) */
/*...................................................*/
/*###################################################*/
