/*###################################################*/
/*...................................................*/
/* WhatIsCounseling(component) */
/*...................................................*/
/*###################################################*/

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 1.5rem;
    padding: 1rem;
}

.cardTitle {
    margin: 0;
    padding: 0;
    text-align: center;
}
.cardSubtitle {
    margin: 0;
    padding: 0;
    text-align: center;
    color: gray;
    font-size: 0.8rem;
}
/*-------------------------------*/
/* layout */
/*-------------------------------*/
/* tablet portrait up */
@media (min-width: 1024.1px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}
/* end tablet up */

.definition{
    padding-bottom: 2rem;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
  width: 80%; /* Set the image to take up the full width of the container */
  height: auto; /* Set the height to automatically adjust to maintain the aspect ratio */
  border-radius: 15px;

}

/* tablet landscape up */
@media (min-width: 1024.1px) {
     .image {
        flex: 1;
    }

    .definition {
        flex: 1; 
    }
    .image img {
     width: 100%; /* Set the image to take up the full width of the container */
    }
}
/* end tablet up */

/* tablet portrait */
@media (min-width: 768px ) and (max-width: 1024.1px) {
   

}
/* end tablet */

/*-------------------------------*/
/* end layout */
/*-------------------------------*/

.resaltado{
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--smartGreen);
}


/*###################################################*/
/*...................................................*/
/* end WhatIsCounseling(component) */
/*...................................................*/
/*###################################################*/
