/*###################################################*/
/*...................................................*/
/* root properties */
/*...................................................*/
/*###################################################*/

:root {
  --animation-duration: 0.4s;
  --icon-height: 1.1rem;
  /* HACK: icon-height is defined so the modal displays at the right hight when it's being used on the top-left & top-right positions. */
   --dropdown-offset: 8px;
}

/*###################################################*/
/*...................................................*/
/* dropdown container */
/*...................................................*/
/*###################################################*/

.dropdown {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.dropdownButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--icon-height);
  color: var(--text, #333);
}

/*###################################################*/
/*...................................................*/
/* dropdown dialog */
/*...................................................*/
/*###################################################*/

.dropdownDialog {
  display: none;
  position: absolute;
  
  min-width: 200px;
  background-color: var(--background, white);
  color: var(--text, #333);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px 0;
  z-index: 1000;
  border: none;
  margin: 0;
}

.dropdownDialog[open] {
  display: block;
  animation: slideIn var(--animation-duration) ease-in;
}

.dropdownDialog[open].closing {
  animation: slideOut var(--animation-duration) ease-out;
} 

/*###################################################*/
/*...................................................*/
/* animations */
/*...................................................*/
/*###################################################*/

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px) translateX(-80%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(-80%); 
  }
}

@keyframes slideOut {
  from {
   opacity: 1;
    transform: translateY(0) translateX(-80%);
  }
  to {
    opacity: 0;
    transform: translateY(-10px) translateX(-80%);
  }
}



/*###################################################*/
/*...................................................*/
/* dynamic positioning classes */
/*...................................................*/
/*###################################################*/

.bottom-right {
  top:calc(100% + var( --dropdown-offset));
  right: 0;
}

.bottom-left {
  
  top:calc(100% + var( --dropdown-offset));
  transform: translateX(-80%);
}

.top-right {
  bottom:calc(var(--icon-height) + var( --dropdown-offset));
  right: 0;
}

.top-left {
  bottom:calc(var(--icon-height) + var( --dropdown-offset));
  transform: translateX(-80%);
}

