/*###################################################*/
/*...................................................*/
/* animations on scroll */
/*...................................................*/
/*###################################################*/

/*-------------------------------*/
/* clases básicas para aparecer y desaparecer los elementos */
/*-------------------------------*/
.scrollAnim {
    opacity: 0;
    transition: opacity 300ms;
}

.scrollAnim.scrolled {
    opacity: 1;
}

/*-------------------------------*/
/* end clases básicas para aparecer y desaparecer los elementos */
/*-------------------------------*/

/*-------------------------------*/
/* clases para deslizar dentro y fuera */
/*-------------------------------*/

/* slide left */
.slideInLeft {
    animation: slideInLeft 0.5s ease-in both;
    -webkit-animation: slideInLeft 0.5s ease-in both;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* end slide left */

/* slide right */
.slideInRight {
    animation: slideInRight 0.5s ease-in both;
    -webkit-animation: slideInRight 0.5s ease-in both;
}

@keyframes slideInRight {
    0% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* end slide right */

/* slide up */
.slideInUp {
    animation: slideInUp 0.5s ease-in both;
    -webkit-animation: slideInUp 0.5s ease-in both;
}

@keyframes slideInUp {
    0% {
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* end slide up */

/* slide Down */
.slideInDown {
    animation: slideInDown 0.5s ease-in both;
    -webkit-animation: slideInDown 0.5s ease-in both;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* end slide Down */


/* general Out */
.generalOut {
    animation: generalOut 1s ease-out both;
    -webkit-animation: generalOut 1s ease-out both;
}

@keyframes generalOut {
    0% {

        opacity: 1;
    }

    100% {

        opacity: 0;
    }
}

/* end general Out */

/*-------------------------------*/
/* end clases para deslizar dentro y fuera */
/*-------------------------------*/


/*###################################################*/
/*...................................................*/
/* end animations on scroll */
/*...................................................*/
/*###################################################*/