/*###################################################*/
/*...................................................*/
/* root variables (responsive font size installed)   */
/*...................................................*/
/*###################################################*/

:root {
    /* font-size */
    --fs-b: 14px;
    /* variable Colors */
    --background: #dfdfdf;
    --text: #000;
    --primary: #d3cccc;
    --primary-mono: #7b7676;
    --contrast: #2658a2;
    --contrast-mono: #cf7d36;

    /* custom colors */
    --smartRed: #A41C1D;
    --smartBlue: #1c5396;
    --smartGreen: #497D38;
    --smartYellow: #c7a534;

}

/* tablet up */
@media (min-width: 768px) {
    :root {
        /* font-size */
        --fs-b: 16px;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 1279px) {
    :root {
        /* font-size */
        --fs-b: 18px;
    }
}

/* end laptop up */

/* desktop up */
@media (min-width: 1300px) {
    :root {
        /* font-size */
        --fs-b: 22px;
    }
}

/*###################################################*/
/*...................................................*/
/* end root variables                                */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* general properties                                */
/*...................................................*/
/*###################################################*/

html {
    /* scroll smooth from nav control */
    scroll-behavior: smooth;
    /* font size general control using variable */
    font-size: var(--fs-b);


}

body {
    /* scroll spy */
    overflow-y: scroll;
    background-color: var(--background);
    margin: 0px;
}

/*###################################################*/
/*...................................................*/
/* end general properties                            */
/*...................................................*/
/*###################################################*/




/*###################################################*/
/*...................................................*/
/* iframe */
/*...................................................*/
/*###################################################*/

#dpi{
    display: flex;
}

.iframeContainer {
    width: 100%;
    min-height: 100vh;
    margin: none;
    padding: none;
}

#dpiIframe {
    width: 100%;
    min-height: 100vh;
}




/*###################################################*/
/*...................................................*/
/* end iframe */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* login */
/*...................................................*/
/*###################################################*/

.login{
    padding: 0.3rem;
    display: flex;
    justify-content: flex-end;
}
#notLogged{
    height: calc(90vh);
    display: flex;
    align-items: center;
    justify-content: center;
}
#notLogged div{

    padding: 2rem;
}

#notAuthorized{
    height: calc(90vh);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#notAuthorized div{
    
        padding: 2rem;
}
/*###################################################*/
/*...................................................*/
/* end login */
/*...................................................*/
/*###################################################*/