/*###################################################*/
/*...................................................*/
/* root variables (responsive font size installed)   */
/*...................................................*/
/*###################################################*/

:root {
    /* font size */
    --fs-b: 14px;
    /* custom colors */
    --smartRed: #771d32;
    --smartBlue: #122e5b;
    --smartGreen: #005245;
    --smartYellow: #9f8156;
    /* custom colors mono */
     --smartRedMono: #771d324b;
    --smartBlueMono: #122e5b5d;
    --smartGreenMono: #00524455;
    --smartYellowMono: #9f815650;
    /* theme colors */
    --background: #ffffff;
    --text: #000;
    --primary: #ac8a54;
    --orangeBtn: var(--primary);
    --navHeight: 7vh;
}

/* tablet up */
@media (min-width: 768px) {
    :root {
        /* font size */
        --fs-b: 16px;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 991px) {
    :root {
        /* font size */
        --fs-b: 18px;
    }
}

/* end laptop up */

/* desktop up */
@media (min-width: 1300px) {
    :root {
        /* font size */
        --fs-b: 22px;
    }
}

/*###################################################*/
/*...................................................*/
/* end root variables                                */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* general properties */
/*...................................................*/
/*###################################################*/

html {
    /* scroll smooth from nav control */
    scroll-behavior: smooth;
    /* font size general control using variable */
    font-size: var(--fs-b);
    /* font-family oficial de SMART  */
    font-family: 'Nunito', sans-serif;
    /* protección de movimiento de overflow por animaciones */
    overflow-x: hidden;

}


body {
    /* scroll spy */
    overflow-y: scroll;

    background-color: var(--brColor);
    color: var(--text);
    margin: 0;
    padding: 0;

    /* protección de movimiento de overflow por animaciones */
    overflow-x: hidden;

}

/* ajustando y centrando el contenido en un ancho máximo */
body>section {
    max-width: 1824px;
    margin: 5rem auto !important;
    float: none !important;
}



h3 {
    font-size: 2.3rem;
}


/*###################################################*/
/*...................................................*/
/* end general properties */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* navbar */
/*...................................................*/
/*###################################################*/


/*-------------------------------*/
/* collapsed mobile nav */
/*-------------------------------*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    background-color: var(--background);
    color: var(--text);
    border-bottom: 6px solid var(--primary);
    font-weight: 200;

    /* fixed from materialized  */
    line-height: unset;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);

    /* Set the navbar to fixed position */
    height: auto;
    position: fixed;
    top: 0;
    /* full width */
    width: 100vw;

    /* always in the front */
    z-index: 9;
}

/* eliminamos los estilos por defecto de los botones dentro de la nav */
nav button {
    all: unset;
}

nav button:focus {
    all: unset;
}

/*-------------------------------*/
/* brand */
/*-------------------------------*/

.navIcons {

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90vw;
    height: var(--navHeight);
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconTrigger {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--text);
}

#navSmartLogoMin {
    height: 1.8rem;
    width: auto;
}

#navSmartLogo {
    display: none;
}

#navUpLogo {
    display: none;
}

/*-------------------------------*/
/* end brand */
/*-------------------------------*/


nav .navContents {
    /*propiedades a animar*/
    visibility: hidden;
    opacity: 0;
    height: 0;

    /*control de animaciones*/
    transition: visibility 0s, opacity 0.3s, height 0.4s linear;
    -webkit-transition: visibility 0s, opacity 0.3s, height 0.4s linear;
    -moz-transition: visibility 0s, opacity 0.3s, height 0.4s linear;
    -ms-transition: visibility 0s, opacity 0.3s, height 0.4s linear;
    -o-transition: visibility 0s, opacity 0.3s, height 0.4s linear;
}


/*-------------------------------*/
/* end collapsed mobile nav */
/*-------------------------------*/

/*-------------------------------*/
/* expanded mobile nav */
/*-------------------------------*/
nav.expanded {
    display: flex;
    flex-direction: column;

}

nav.expanded .navContents {
    /* segunda parte de la animación */
    visibility: visible;
    opacity: 1;

    display: flex;
    flex-direction: column;
    align-self: stretch;
    height: calc(100vh - var(--navHeight));



}

nav.expanded .navContents a {
    display: flex;
    justify-content: flex-start;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.512);
}

.navContents a {
    color: var(--text);
    text-align: center;
    padding: 2rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;

    /* evita que los menús se vayan a doble línea */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.navContents a.active {
    background-color: var(--primary);
    color: white;
    font-weight: 300;
}

/*-------------------------------*/
/* end expanded mobile nav */
/*-------------------------------*/

/*-------------------------------*/
/* Tabletas y computadoras */
/*-------------------------------*/

/* desktop up */
@media (min-width: 648px) {
    nav {
        height: var(--navHeight);
        flex-direction: row;
        align-items: flex-end;
        --navHeight: 11vh
    }

    .iconTrigger {
        display: none;
    }

    nav .navIcons {
        width: auto;
        margin-left: 1rem;
    }

    nav .navContents {
        visibility: visible;
        opacity: 1;
        display: flex;
        align-items: center;
        height: 7vh;
    }

    nav .navContents a {
        font-size: 1rem;
        padding: 0 0.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    /* ---brand--- */

    #navSmartLogoMin {
        display: none;
        height: 1.2rem;
        width: auto;
        margin-top: 10px;
    }

    #navSmartLogo {
        display: inline;
        height: auto;
        width: 8rem;

    }


    /* ---end brand--- */
}

/* end desktop up */

/* tablet landscape up */
@media (min-width: 1024.1px) {
    nav {
        --navHeight: 16vh;
        transition: height 0.2s ease;
        -webkit-transition: height 0.2s ease;
        -moz-transition: height 0.2s ease;
        -ms-transition: height 0.2s ease;
        -o-transition: height 0.2s ease;
    }

    #navUpLogo {
        display: inline;
        height: 4rem;
        width: auto;
        padding-left: 1rem;
        border-left: 0.5px solid var(--primary);
        margin-left: 1rem;
    }
}

/* end tablet up */

/*-------------------------------*/
/* end Tabletas y computadoras */
/*-------------------------------*/



/*###################################################*/
/*...................................................*/
/* end navbar */
/*...................................................*/
/*###################################################*/




/*###################################################*/
/*...................................................*/
/* Experiencias Presenciales */
/*...................................................*/
/*###################################################*/

/*-------------------------------*/
/* grid */
/*-------------------------------*/


#presenciales {
   text-align: center; 
   padding-top: 5rem;
}

#events_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 0 1rem;
}

/* tablet portrait up */
@media (min-width: 768px) {
    #events_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}
/* end tablet up */

/* tablet landscape up */
@media (min-width: 1024.1px) {
    #events_grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}
/* end tablet up */

/*-------------------------------*/
/* end grid */
/*-------------------------------*/

/*-------------------------------*/
/* general cards */
/*-------------------------------*/

.event_card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 27rem;
    max-height: 27rem;
    width: 100%;
    border-radius: 15px;
    font-size: 1.15rem;
}

.success_card{
    background-color: var(--smartYellowMono);
    --dominant: var(--smartYellow);
}
.meeting_card{
    background-color: var(--smartBlueMono);
    --dominant: var(--smartBlue);
}
.talent_card{
    background-color: var(--smartGreenMono);
    --dominant: var(--smartGreen);
}
.advisory_card{
    background-color: var(--smartRedMono);
    --dominant: var(--smartRed);
}

/*-------------------------------*/
/* end general cards */
/*-------------------------------*/

/*-------------------------------*/
/* event title */
/*-------------------------------*/

.event_title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8rem;
    width: 100%;
}
.event_card h4{
    color: var(--dominant);
}
.event_title svg{
    position: absolute;
    font-size: 5.5rem;
    color: var(--dominant);
    margin: 0.5rem;
    opacity: 10%;
}

.event_title .fa-quote-left{
    left: -1%;
}

.event_title .fa-quote-right{
    right: 0;
}

.event_card hr{
    width: 99%;
    opacity: 70%;
    margin: 0;
    border: var(--dominant) solid 0.5px;
}


/*-------------------------------*/
/* end event title */
/*-------------------------------*/

/*-------------------------------*/
/* event data */
/*-------------------------------*/


.event_data{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93%;
    font-size: 1.2rem;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.event_data>div{
    background-color: var(--dominant);
    color: var(--background);
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    font-weight: 100;
    font-size: 0.9rem;
}

.event_data svg{
    font-size: 0.8rem;
    margin-right: 0.4rem;
}

.event_location{
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-size: 0.9rem;
}
.event_location span{
    margin-left: 0.3rem;
}
.event_more{
    width: 90%;
    margin-top: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.event_more button{
    all: unset;
    cursor: pointer;
    font-size: 1.1rem;
    color:rgb(93, 93, 93);
    /* border: rgba(93, 93, 93, 0.272) solid 1px; */
    padding: 0.7rem;
    border-radius: 10px;


}
.event_more button svg{
    
    font-size: 0.7rem;
    margin-left: 0.3rem;

}


/*-------------------------------*/
/* end event data */
/*-------------------------------*/

/*-------------------------------*/
/* event message */
/*-------------------------------*/

.event_message {
    display: flex;
    /* visible: flex */
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 3rem;
    background-color: red;
    padding:0.2rem 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.event_message p{
    font-size: 0.7rem;

    color: var(--background);
    margin-left: 0.5rem;
    text-align: left;

}
.event_message svg{
    font-size: 2rem;
    color: yellow;
    margin-left: 0.3rem;
}

/*-------------------------------*/
/* end event message */
/*-------------------------------*/


/*-------------------------------*/
/* event hidden */
/*-------------------------------*/

/* ---funcionamiento--- */
.event_hidden {

    max-height: 0px;
    transition: all 1s ease-in-out;
    overflow: hidden;

}

/* ---end funcionamiento--- */

.event_description p {
    font-size: 0.9rem;
    text-align: justify;
    padding: 1rem;

}

.event_time{
    font-size: 0.9rem;
    text-align: left;
    padding: 0.6rem;
}
.event_time span{
    margin-left: 0.5rem;
}
.event_instructor{
    font-size: 1rem;
    text-align: left;
    padding: 0.6rem;
}

.event_instructor span{
    margin-left: 0.5rem;
}
.event_tags{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.event_tags .tag{
    background-color: var(--dominant);
    color: var(--background);
    padding: 0.3rem 0.7rem;
    border-radius: 15px;
    margin: 0.3rem;
    font-weight: 100;
    font-size: 1rem;
}

.event_button{
    margin: 3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.event_button a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--dominant);
    color: var(--background);
    padding: 1.5rem 0.3rem;
    border-radius: 15px;
    margin: 0.3rem;
    width: 65%;
}

/*-------------------------------*/
/* end event hidden */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end Experiencias Presenciales */
/*...................................................*/
/*
###################################################*/

/*###################################################*/
/*...................................................*/
/* tarjetas fantasma */
/*...................................................*/
/*###################################################*/

.tarjeta_fantasma{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 27rem;
    max-height: 27rem;
    width: 100%;
    border-radius: 15px;
    font-size: 1.15rem;
    background-color: rgb(199, 190, 190);
    animation: fantasma 3s linear infinite;
}
/*-------------------------------*/
/* animación */
/*-------------------------------*/

@keyframes fantasma {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.7;
    }
}

/*-------------------------------*/
/* end animación */
/*-------------------------------*/

/*-------------------------------*/
/* título */
/*-------------------------------*/
.fantasma_titulo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.fantasma_titulo div{
    width: 87%;
    height: 1.5rem;
    background-color: gray;
    border-radius: 5px;
}

.fantasma_titulo svg{
    position: absolute;
    font-size: 5.5rem;
    color: var(--dominant);
    margin: 0.5rem;
    opacity: 10%;
}

.fantasma_titulo .fa-quote-left{
    left: 1%;
}

.fantasma_titulo .fa-quote-right{
    right: 1%;
}


.tarjeta_fantasma hr{
    width: 99%;
    opacity: 70%;
    margin: 0;
    border: rgba(0, 0, 0, 0.452) solid 0.5px;
}


/*-------------------------------*/
/* end título */
/*-------------------------------*/

/*-------------------------------*/
/* data */
/*-------------------------------*/

.fantasmas_data{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

.fantasmas_data_pills{
    width: 27%;
    height: 1.7rem;
    background-color: gray;
    border-radius: 5px;
}

/*-------------------------------*/
/* end data */
/*-------------------------------*/

/*-------------------------------*/
/* location */
/*-------------------------------*/
.fantasmas_location{ 
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: auto;
}

.fantasmas_location_pills{
    width: 40%;
    height: 1.7rem;
    background-color: gray;
    border-radius: 5px;
    margin: 0 0.5rem;
}

/*-------------------------------*/
/* end location */
/*-------------------------------*/

/*-------------------------------*/
/* more */
/*-------------------------------*/

.fantasmas_more{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: auto;
}

.fantasmas_more_text{
    width: 20%;
    height: 1.7rem;
    background-color: gray;
    border-radius: 5px;
    margin: 0 0.5rem;
}

/*-------------------------------*/
/* end more */
/*-------------------------------*/




/*###################################################*/
/*...................................................*/
/* end tarjetas fantasma */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* footer */
/*...................................................*/
/*###################################################*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    background-color: var(--smartRed);
    padding: 3rem;
    color: var(--background);
    text-align: center;
    margin-top: auto;
}

/* tablet portrait up */
@media (min-width: 768px) {
    footer {
        flex-direction: row;
        font-size: 0.8rem;
        padding: 1rem;
    }
}

/* end tablet up */
/* tablet landscape up */
@media (min-width: 1024.1px) {
    footer {
        flex-direction: row;
        font-size: 1rem;
        padding: 3rem;
    }
}

/* end tablet up */

footer a {
    color: var(--background);
}

footer a:visited {
    color: var(--background);
}

footer svg {
    font-size: 1.3rem;
}

/*-------------------------------*/
/* up logo */
/*-------------------------------*/

#footer_logo {
    width: 18rem;
}

/* tablet portrait up */
@media (min-width:768px) and (max-width:1024.1px) {
    #footer_logo {
        width: 12rem;
    }
}

/* end tablet up */
/*-------------------------------*/
/* end up logo */
/*-------------------------------*/

/*-------------------------------*/
/* legales y links */
/*-------------------------------*/
#footer_derechos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

#footer_redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.2rem;
}

/*-------------------------------*/
/* end legales y links */
/*-------------------------------*/

/*-------------------------------*/
/* dirección y contacto */
/*-------------------------------*/
#footer_contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

/* tablet portrait up */
@media (min-width: 768px) {
    #footer_contacto {
        align-items: flex-start;
    }
}

/* end tablet up */


/*-------------------------------*/
/* end dirección y contacto */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end footer */
/*...................................................*/
/*###################################################*/