/*###################################################*/
/*...................................................*/
/* root variables (responsive font size installed)   */
/*...................................................*/
/*###################################################*/

:root {
    /* font size */
    --fs-b: 14px;
    /* custom colors */
    --smartRed: #771d32;
    --smartBlue: #122e5b;
    --smartGreen: #005245;
    --smartYellow: #9f8156;
    /* theme colors */
    --brColor: #ffffff;
    --textColor: #000;
    --primary: #ac8a54;
    --orangeBtn: var(--primary);

    /* tablet up */
    @media (min-width: 768px) {
        :root {
            /* font size */
            --fs-b: 16px;
        }
    }

    /* end tablet up */

    /* laptop up */
    @media (min-width: 991px) {
        :root {
            /* font size */
            --fs-b: 18px;
        }
    }

    /* end laptop up */

    /* desktop up */
    @media (min-width: 1300px) {
        :root {
            /* font size */
            --fs-b: 22px;
        }
    }
}

/*###################################################*/
/*...................................................*/
/* end root variables                                */
/*...................................................*/
/*###################################################*/

/* asegurarse de que el fondo siempre sea negro en toda la pantalla haciendo que el iframe extienda su fondo hacia abajo. */
iframe {
    min-height: 100vh;
}

/*###################################################*/
/*...................................................*/
/* nav */
/*...................................................*/
/*###################################################*/
/*-------------------------------*/
/* navbar */
/*-------------------------------*/

.brand-logo {
    width: 4rem;
    height: 4rem;
}

.up-logo {
    height: 3rem;
    width: auto;
    /* padding-top: 0.3rem; */
}

/* for light mode */
.bg-light-custom {
    background-color: rgb(255, 255, 255);
    border-bottom: 7px solid var(--primary);
    color: var(--textColor);
}

.active {
    color: var(--smartYellow) !important;
    font-weight: 500;
}

.nav-link {
    font-size: 1.3rem;
}

.nav-link:hover {
    color: var(--smartBlue);
    font-weight: 500;
}

.arbol_up {
    height: 4rem;
    width: auto;
    padding-left: 1.2rem;
    margin-left: 1rem;
    border-left: 1px solid var(--smartYellow);
}

/* tablet portrait up */
@media (min-width: 768px) {
    nav {
        height: 6.5rem;
    }

    .up-logo {
        height: 4.4rem;
        width: auto;
        /* padding-top: 0.3rem; */
    }

    .navbar-nav {
        margin-left: auto;
    }
}

/* end tablet up */
/*-------------------------------*/
/* end navbar */
/*-------------------------------*/
/*###################################################*/
/*...................................................*/
/* end nav */
/*...................................................*/
/*###################################################*/

.citas {
    min-height: 100vw;
    padding-top: 7rem;

}