/*###################################################*/
/*...................................................*/
/* doc loader */
/*...................................................*/
/*###################################################*/

.doc-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
}

.doc-loader td {
    text-align: center;
    vertical-align: middle;
}

.doc-loader img {
    width: 90px;
    height: 90px;
}

/*###################################################*/
/*...................................................*/
/* end doc loader */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* root variables (responsive font size installed)   */
/*...................................................*/
/*###################################################*/

:root {
    /* font size */
    --fs-b: 14px;
    /* custom colors */
    --smartRed: #771d32;
    --smartBlue: #122e5b;
    --smartGreen: #005245;
    --smartYellow: #9f8156;
    /* theme colors */
    --brColor: #ffffff;
    --textColor: #000;
    --primary: #ac8a54;
    --orangeBtn: var(--primary);
}

/* tablet up */
@media (min-width: 768px) {
    :root {
        /* font size */
        --fs-b: 16px;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 991px) {
    :root {
        /* font size */
        --fs-b: 18px;
    }
}

/* end laptop up */

/* desktop up */
@media (min-width: 1300px) {
    :root {
        /* font size */
        --fs-b: 22px;
    }
}

/*###################################################*/
/*...................................................*/
/* end root variables                                */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* general properties */
/*...................................................*/
/*###################################################*/

html {
    /* scroll smooth from nav control */
    scroll-behavior: smooth;
    /* font size general control using variable */
    font-size: var(--fs-b);
    font-family: 'Nunito', sans-serif;

}


body {
    /* scroll spy */
    overflow-y: scroll;
    background-color: var(--brColor);
    color: var(--textColor);

}

.modal-header {
    color: #fff;
    background-color: var(--primary) !important;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.modal-title {}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*###################################################*/
/*...................................................*/
/* end general properties */
/*...................................................*/
/*###################################################*/


/*-------------------------------*/
/* navbar */
/*-------------------------------*/

.brand-logo {
    width: 4rem;
    height: 4rem;

}

.up-logo {
    height: 3rem;
    width: auto;
    /* padding-top: 0.3rem; */
}

/* for light mode */
.bg-light-custom {
    background-color: rgb(255, 255, 255);
    border-bottom: 7px solid var(--primary);
    color: var(--textColor);
}

.active {
    color: var(--smartYellow) !important;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--smartBlue);
    font-weight: 500;
}

.arbol_up {
    height: 4rem;
    width: auto;
    padding-left: 1.2rem;
    margin-left: 1rem;
    border-left: 1px solid var(--smartYellow);
}

/* tablet portrait up */
@media (min-width: 768px) {
    nav {
        height: 6.5rem;
    }

    .up-logo {
        height: 4.2rem;
        width: auto;
        /* padding-top: 0.3rem; */
    }

    .navbar-nav {
        margin-left: auto;
    }
}

/* end tablet up */
/*-------------------------------*/
/* end navbar */
/*-------------------------------*/


/*###################################################*/
/*...................................................*/
/* parallax */
/*...................................................*/
/*###################################################*/

.divider {
    height: auto;
    min-height: 50vh;
    display: block;
    position: relative;
    opacity: 1;
    color: var(--textColor);
    background-color: var(--brColor);

}

/* .divider::before {
    content: "";
    background: url("../images/power_ideas_tablet.jpg") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter: opacity(0.5) grayscale(0.2);
    -webkit-filter: opacity(0.5) grayscale(0.2);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
} */



/* endlandscape cellphone up */

/* Laptops up parallax working */

/* @media (min-width: 991px) {
    .divider {
        height: auto;
        min-height: 35vh;
        display: block;
        position: relative;
        opacity: 1;
    }

    .divider::before {
        content: "";
        background: url("../images/power_ideas.jpg") no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        filter: opacity(0.5) grayscale(0.2);
        -webkit-filter: opacity(0.5) grayscale(0.2);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        height: auto;
    }

} */

/*-------------------------------*/
/* fonts */
/*-------------------------------*/

.divider-p {

    font-size: 1.3rem;
}

.divider-text {

    font-size: 1rem;

}

.divider-icon {

    font-size: 1.5rem;
    color: var(--primary);


}


/* landscape cellphone up */
@media (min-width: 576px) {
    .divider-p {

        font-size: 1.5rem;

    }

    .divider-text {
        font-size: 0.9rem;
    }

    .divider-icon {

        font-size: 4rem;
    }
}

/* end Laptops up */

/*-------------------------------*/
/* end fonts */
/*-------------------------------*/


.scroll-adjust {
    display: block;
    position: relative;
    top: -3.3rem;
    visibility: hidden;
}

/*###################################################*/
/*...................................................*/
/* end parallax */
/*...................................................*/
/*###################################################*/

/*-------------------------------*/
/* cover */
/*-------------------------------*/

#inicio {
    min-height: 100vh;
    width: 100%;

    background-color: var(--smartYellow);
    background-image: url(../images/cover.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.flecha-down {
    color: var(--primary);
    font-size: 3rem;
}

.cover {
    /* background-image: url(../images/smart_mor.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: center; */

    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* backdrop-filter: blur(10px); */
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: var(--brColor);

}

/* end tablet up */
.cover i {
    color: var(--primary);
    font-size: 2rem;

}

.cover i:last-child {
    color: var(--brColor);

}

.cover span {
    text-align: center;
}

.jumbotron-cover {
    width: 50%;
}

.leyenda_cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3rem;
    color: #fff;

}

.leyenda_pleca {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-color: var(--smartBlue); */
    color: var(--textColor);
    text-align: right;
    /* border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; */
    font-size: 4rem;
}

.leyenda_primera {
    text-align: right;
    padding-left: 4rem;
}

.leyenda_segunda {
    text-align: center;
}

.leyenda_texto_uno {
    font-size: 4rem;
    text-align: left;
    width: 75%;
    color: var(--smartYellow);
}

.leyenda_texto_dos {
    font-size: 4rem;
    text-align: right;
    width: 85%;
    color: var(--smartYellow);
}

/* tablet portrait up */
@media (min-width: 768px) {

    #inicio {
        min-height: 100vh;


    }

    .cover {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /* backdrop-filter: blur(10px); */
        margin-top: 9rem;
        padding-top: 3rem;
        font-size: 4rem;
        color: var(--brColor);
    }

    .cover span {
        text-align: right;
        margin-left: 3rem;
    }

    .cover i {

        font-size: 3rem;

    }
}


/*-------------------------------*/
/* end cover */
/*-------------------------------*/

/*-------------------------------*/
/* alternate jumbotron */
/*-------------------------------*/

.alternate_jumbotron {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;

}

.foto_portada {
    height: 25rem;
    background-image: url(../images/cover.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;


}

/*-------------------------------*/
/* end alternate jumbotron */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* row links */
/*...................................................*/
/*###################################################*/
.grid-sections-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(2rem, auto);
    grid-gap: 0.2rem;
}

/* tablet landscape up */
@media (min-width: 1024.1px) {
    .grid-sections-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(2rem, auto);
        grid-gap: 0.5rem;
    }
}

/* end tablet up */

/* end cellphone landscape up */
.links {
    padding: 0.5rem;
    margin: 0px;
    width: 100%;
    /*border: transparent solid 4px;*/
    background-color: none;
    transition: background-color 3ms linear;
    -webkit-transition: background-color 3ms linear;
    -moz-transition: background-color 3ms linear;
    -ms-transition: background-color 3ms linear;
    -o-transition: background-color 3ms linear;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: start;
    padding-left: 10%;
    /*border: var(--primary) solid 1px;
    */
    font-size: 1.3rem;


}

.linksGen:hover {

    background-color: gray;
    text-decoration: none;
}

.linksGen {
    padding: 1rem;
    margin: 0px;
    width: 100%;
    border: transparent solid 4px;
    transition: border 0.3s linear;
    -webkit-transition: border 0.3s linear;
    -moz-transition: border 0.3s linear;
    -ms-transition: border 0.3s linear;
    -o-transition: border 0.3s linear;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.links:hover {

    background-color: rgb(177, 165, 165);
    text-decoration: none;
    color: white;
}

.pleca {
    background-color: var(--brColor);
    width: 6rem !important;
    height: 6rem !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
    border: var(--primary) solid 1px;
}

.success {
    color: var(--smartYellow);
}

.meeting {
    color: var(--smartBlue);
}

.advisory {
    color: var(--smartRed);
}

.reload {
    color: var(--smartGreen);
    font-size: 0.7rem;
}

.logos-link-bar-succes {
    width: 2rem;
    height: auto;
}

.logos-link-bar {
    width: 4rem;
    height: auto;
    margin-right: 2rem;
}

/*###################################################*/
/*...................................................*/
/* end row links */
/*...................................................*/
/*###################################################*/


/*-------------------------------*/
/* sobre nosotros */
/*-------------------------------*/

.text-nosotros {
    color: var(--textColor);
}

.orange-btn {
    background-color: var(--orangeBtn);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.botones-obj {
    flex-direction: column;
    justify-content: space-around;
}

/* tablet portrait up */
@media (min-width: 768px) {
    .botones-obj {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* end tablet up */

.imagen_alumnos {
    width: 100%;
}

/*-------------------------------*/
/* end sobre nosotros */
/*-------------------------------*/


/*-------------------------------*/
/* nuestras áreas */
/*-------------------------------*/
.grid-sections-info {}

/* cellphone landscape up */
@media (min-width: 576px) {
    .grid-sections-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(3rem, auto);
    }
}

/* end cellphone landscape up */
.success-btn {
    color: var(--smartYellow);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.meeting-btn {
    color: var(--smartBlue);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.advisory-btn {
    color: var(--smartRed);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.reload-btn {
    color: var(--smartGreen);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;


}

.redes-btn {
    color: var(--textColor);

    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;

    display: flex;

}

.instagram-pleca {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    background-color: rgb(24, 23, 23);
    color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#success-modal {
    background-color: var(--smartYellow);
}



#meeting-modal {
    background-color: var(--smartBlue);
}



#advisory-modal {
    background-color: var(--smartRed);
}



#reload-modal {
    background-color: var(--smartGreen);
}

.success-color {
    color: var(--smartYellow);
}

.meeting-color {
    color: var(--smartBlue);
}

.advisory-color {
    color: var(--smartRed);
}

.reload-color {
    color: var(--smartGreen);
}




/*-------------------------------*/
/* end nuestras áreas */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* noticias */
/*...................................................*/
/*###################################################*/
/*-------------------------------*/
/* naming */
/*-------------------------------*/


/* principal */
.directos {
    grid-area: directos;
    padding: 30px;
    background-color: rgba(19, 18, 19, 0.431);


}

.num-semestre {
    grid-area: num-semestre;
    padding: 30px;
    background-color: rgba(19, 18, 19, 0.171);
    flex-direction: column;

}


.indirectos {
    grid-area: indirectos;
    padding: 30px;
    background-color: rgb(19, 18, 19);

}

.operacion {
    grid-area: operacion;
    padding: 30px;
    background-color: rgba(19, 18, 19, 0.685);

}

.smart-logo-grid {
    grid-area: smart-logo-grid;
    display: none;
    background-color: var(--brColor);
}

/* end principal */

/* success */
.success-logo-grid {
    grid-area: success-logo-grid;
    background-color: var(--smartYellow);
    flex-direction: column;
}

.success-stats-one {
    grid-area: success-stats-one;
    padding: 30px;
    background-color: #c2a64ade;
    flex-direction: column;
}

.success-stats-two {
    grid-area: success-stats-two;
    padding: 30px;
    background-color: #c2a64ab4;
    flex-direction: column;

}

.success-stats-three {
    grid-area: success-stats-three;
    padding: 30px;
    background-color: #c2a64a75;
    flex-direction: column;

}

.success-stats-four {
    grid-area: success-stats-four;
    padding: 30px;
    background-color: #c2a64a50;
    flex-direction: column;

}

/* end success */

/* meeting */
.meeting-logo-grid {
    grid-area: meeting-logo-grid;
    background-color: var(--smartBlue);
    flex-direction: column;
}

.meeting-stats-one {
    grid-area: meeting-stats-one;
    background-color: #1c5396d0;
    flex-direction: column;

}

.meeting-stats-two {
    grid-area: meeting-stats-two;
    background-color: #1c5396a2;
    flex-direction: column;
}

.meeting-stats-three {
    grid-area: meeting-stats-three;
    background-color: #1c539669;
    flex-direction: column;
}

.meeting-stats-four {
    grid-area: meeting-stats-four;
    background-color: #1c539649;
    flex-direction: column;
}

/* end meeting */

/* advisory */
.advisory-logo-grid {
    grid-area: advisory-logo-grid;
    background-color: var(--smartRed);
    flex-direction: column;
}

.advisory-stats-one {
    grid-area: advisory-stats-one;
    background-color: #972b25d5;
    flex-direction: column;
}

.advisory-stats-two {
    grid-area: advisory-stats-two;
    background-color: #972b25a9;
    flex-direction: column;
}

.advisory-stats-three {
    grid-area: advisory-stats-three;
    background-color: #972b257a;
    flex-direction: column;

}

.advisory-stats-four {
    grid-area: advisory-stats-four;
    background-color: #972b2536;
    flex-direction: column;
}

/* end advisory */

/* reload */
.reload-logo-grid {
    grid-area: reload-logo-grid;
    background-color: var(--smartGreen);
    flex-direction: column;
}

.reload-stats-one {
    grid-area: reload-stats-one;
    background-color: #557b40bd;
    flex-direction: column;

}

.reload-stats-two {
    grid-area: reload-stats-two;
    background-color: #557b408a;
    flex-direction: column;

}

.reload-stats-three {
    grid-area: reload-stats-three;
    background-color: #557b4057;
    flex-direction: column;
}

.reload-stats-four {
    grid-area: reload-stats-four;
    background-color: #557b402c;
    flex-direction: column;
}

/* end reload */

/* twitter */
.twitter {
    grid-area: twitter;
    background-color: #2a2f32;
}

/* end twitter */


/*-------------------------------*/
/* end naming */
/*-------------------------------*/

/*-------------------------------*/
/* grid */
/*-------------------------------*/

#noticias-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(4rem, auto);
    grid-template-areas:
        "operacion    operacion    directos     directos "
        "operacion    operacion    directos     directos "
        "num-semestre num-semestre indirectos   indirectos"
        "num-semestre num-semestre indirectos   indirectos"
        "success-logo-grid   success-logo-grid   success-stats-one  success-stats-one"
        "success-logo-grid   success-logo-grid   success-stats-one  success-stats-one"
        "success-logo-grid   success-logo-grid   success-stats-two  success-stats-two"
        "success-logo-grid   success-logo-grid   success-stats-two  success-stats-two"
        "success-stats-three success-stats-three success-stats-four success-stats-four"
        "success-stats-three success-stats-three success-stats-four success-stats-four"
        "meeting-logo-grid   meeting-logo-grid   meeting-stats-one  meeting-stats-one"
        "meeting-logo-grid   meeting-logo-grid   meeting-stats-one  meeting-stats-one"
        "meeting-logo-grid   meeting-logo-grid   meeting-stats-two  meeting-stats-two"
        "meeting-logo-grid   meeting-logo-grid   meeting-stats-two  meeting-stats-two"
        "meeting-stats-three meeting-stats-three meeting-stats-four meeting-stats-four"
        "meeting-stats-three meeting-stats-three meeting-stats-four meeting-stats-four"
        "advisory-logo-grid   advisory-logo-grid   advisory-stats-one  advisory-stats-one"
        "advisory-logo-grid   advisory-logo-grid   advisory-stats-one  advisory-stats-one"
        "advisory-logo-grid   advisory-logo-grid   advisory-stats-two  advisory-stats-two"
        "advisory-logo-grid   advisory-logo-grid   advisory-stats-two  advisory-stats-two"
        "advisory-stats-three advisory-stats-three advisory-stats-four advisory-stats-four"
        "advisory-stats-three advisory-stats-three advisory-stats-four advisory-stats-four"
        "reload-logo-grid   reload-logo-grid   reload-stats-one  reload-stats-one"
        "reload-logo-grid   reload-logo-grid   reload-stats-one  reload-stats-one"
        "reload-logo-grid   reload-logo-grid   reload-stats-two  reload-stats-two"
        "reload-logo-grid   reload-logo-grid   reload-stats-two  reload-stats-two"
        "reload-stats-three reload-stats-three reload-stats-four reload-stats-four"
        "reload-stats-three reload-stats-three reload-stats-four reload-stats-four"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
        "twitter twitter twitter twitter"
    ;
    background-color: #000;
}

/* tablet up */
@media (min-width: 768px) {
    #noticias-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(8rem, auto);
        grid-template-areas:
            "success-logo-grid  success-stats-four   operacion        meeting-stats-one  meeting-stats-two "
            "success-logo-grid  success-stats-three  directos         meeting-stats-three meeting-logo-grid"
            "success-stats-two  success-stats-one    smart-logo-grid  meeting-stats-four meeting-logo-grid"
            "advisory-stats-two advisory-stats-one   smart-logo-grid  reload-stats-one   reload-stats-two"
            "advisory-logo-grid advisory-stats-three num-semestre     reload-logo-grid   reload-stats-three"
            "advisory-logo-grid advisory-stats-four   indirectos      reload-logo-grid   reload-stats-four"
            "twitter  twitter  twitter  . ."
            "twitter  twitter  twitter  . ."
            "twitter  twitter  twitter  . ."
            "twitter  twitter  twitter  . ."
            "twitter  twitter  twitter  . ."
        ;
    }

    .smart-logo-grid {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 1279px) {
    #noticias-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: minmax(8rem, auto);
        grid-template-areas:
            "success-logo-grid  success-stats-four   operacion       meeting-stats-four  meeting-logo-grid twitter twitter"
            "success-logo-grid  success-stats-three  directos        meeting-stats-three meeting-logo-grid twitter twitter"
            "success-stats-two  success-stats-one    smart-logo-grid meeting-stats-one   meeting-stats-two twitter twitter"
            "advisory-stats-two advisory-stats-one   smart-logo-grid reload-stats-one    reload-stats-two  twitter twitter"
            "advisory-logo-grid advisory-stats-three num-semestre    reload-stats-three  reload-logo-grid  twitter twitter"
            "advisory-logo-grid advisory-stats-four   indirectos     reload-stats-four   reload-logo-grid  twitter twitter"
        ;
    }
}

/* end laptop up */

/*-------------------------------*/
/* end grid */
/*-------------------------------*/

/*-------------------------------*/
/* text */
/*-------------------------------*/
.w-number {
    color: #fff;
    font-size: 2rem;
    font-weight: 130;
}

.w-big-number {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 130;
}

.b-number {
    color: #000;
    font-size: 3rem;
    font-weight: 130;
}

.w-text {
    color: #fff;
}

.b-text {
    color: #000;
}

/*-------------------------------*/
/* end text */
/*-------------------------------*/


.boletin {
    font-size: 2rem;
    color: var(--textColor);
    padding: 1rem;

}

.boletin:hover {
    color: #fff;
    text-decoration: none;
    background-color: gray;
}


/*###################################################*/
/*...................................................*/
/* end noticias */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* contacto */
/*...................................................*/
/*###################################################*/
#contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.7rem;
}

#contact-form input[type=email],
#contact-form input[type=text] {
    margin: 0.7rem 0;
    padding: 0.5rem;
    width: 100%;
}

#contact-form textarea {
    width: 100%;
}

#contact-form textarea:focus {
    height: 190px;
    overflow: auto;
}

.enviar-mensaje {
    width: 50%;
    background-color: var(--primary);
    color: var(--brColor);
    border: none;
}


.linea-horizontal-mapa {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 0.1rem;
    background-color: var(--primary);

}

.mapouter {
    position: relative;
    text-align: right;
    height: 361px;
    width: 100%;
    border-left: 10px solid rgb(255, 255, 255);
    border-right: 10px solid rgb(255, 255, 255);
    border-bottom: 10px solid rgb(255, 255, 255);
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 351px;
    width: 100%;
}

.campus-img {
    border-left: 10px solid rgb(255, 255, 255);
    border-right: 10px solid rgb(255, 255, 255);
    border-top: 10px solid rgb(255, 255, 255);
}

/*-------------------------------*/
/* directorio */
/*-------------------------------*/

/* isotope */

.directoryFilter {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.directoryFilter .button {
    display: inline-block !important;
    margin: 5px 5px;
    padding: 16px 18px;
    font-size: 13px;
    line-height: 15px;
    color: var(--brColor);
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    background-color: var(--primary);
    border: none;
}

.directoryFilter button:hover {
    border: solid 1px #1d7f9c;
    color: #15596e;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.directoryFilter button.current {
    background: var(--primary);
    border: none;
    /* border: solid 1px #15596e; */
    color: #fff;
}

.grid li {
    list-style: none;
}

.grid {
    padding: 0px;
}

/* end isotope */

/* tarjetas */
.our-team-main {
    width: 100%;
    height: auto;
    /* border-bottom: 5px #323233 solid; */
    background: rgba(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    margin-bottom: 28px;
}


.our-team-main img {
    border-radius: 50%;
    margin-bottom: 15px;
    width: 6rem;
    height: 6rem;
    border: 4px solid #fff;
}

.our-team-main h3 {
    font-size: 0.9rem;
    font-weight: 700;
}

.our-team-main p {
    margin-bottom: 0;
}

.team-back {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 15px 0 15px;
    text-align: left;
    background: rgba(255, 255, 255);
    font-size: 0.8rem;

}

.team-front {
    width: 100%;
    height: auto;
    min-height: 13rem;
    position: relative;
    z-index: 10;
    background: var(--primary);
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
    color: #fff;
}

.our-team-main:hover .team-front {
    bottom: -200px;
    transition: all 0.5s ease;
}

.our-team-main:hover {
    border-color: #777;
    transition: 0.5s;
}

.success-fltbc {
    background-color: var(--primary);
}

.meeting-fltbc {
    background-color: var(--primary);
}

.advisory-fltbc {
    background-color: var(--primary);
}

.reload-fltbc {
    background-color: var(--primary);
}

/* end tarjetas */
.small-title {
    /* font-size: 0.7rem; */

}

/*-------------------------------*/
/* end directorio */
/*-------------------------------*/
/*###################################################*/
/*...................................................*/
/* end contacto */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* instagram fixed */
/*...................................................*/
/*###################################################*/

.instagram-fixed {
    position: fixed;
    bottom: -4px;
    right: 10px;
    background-color: var(--primary);
    z-index: 300;
    padding: 0.5rem;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;

}

.instagram-fixed:hover {
    font-size: 1.5rem;
}

.instagram-fixed a {
    color: #fff;
    text-decoration: none;

}

/*###################################################*/
/*...................................................*/
/* end instagram fixed */
/*...................................................*/
/*###################################################*/
/*...................................................*/
/* grids acordeon */
/*...................................................*/
/*###################################################*/






/*-------------------------------*/
/* artículos */
/*-------------------------------*/

.container-articulos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 15rem;
    gap: 10px;
    background-color: none;
}

/* cellphone landscape up */
@media (min-width: 576px) {
    .container-articulos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 15rem;
        gap: 10px;
    }
}

.articulo-footer {
    background-color: rgba(90, 82, 47, 0.753);
    width: 100%;
    padding: 0.4rem;
}

#articulo1 {
    background-color: yellow;
    background-image: url(../images/rt/art1.jpg);
    display: flex;
    align-items: flex-end;
    padding: 0px;
    border: 0px;


}

#articulo2 {
    background-color: yellow;
    background-image: url(../images/rt/art2.jpg);
    display: flex;
    align-items: flex-end;
    padding: 0px;
    border: 0px;
}

#articulo3 {
    background-color: yellow;
    background-image: url(../images/rt/art3.jpg);
    display: flex;
    align-items: flex-end;
    padding: 0px;
    border: 0px;
}

#articulo4 {
    background-color: yellow;
    background-image: url(../images/rt/art4.jpg);
    display: flex;
    align-items: flex-end;
    padding: 0px;
    border: 0px;


}

/*-------------------------------*/
/* end artículos */
/*-------------------------------*/

/*-------------------------------*/
/* recursos */
/*-------------------------------*/

.container-recursos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 10rem;
    gap: 10px;
    background-color: none;
}

/* cellphone landscape up */
@media (min-width: 576px) {
    .container-recursos {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* end cellphone landscape up */
.recursos {
    background-color: var(--smartYellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: #fff;
}

.recursos:hover {
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.recursos>span {
    text-align: center;
}

.recursos>.fas {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}



/*-------------------------------*/
/* end recursos */
/*-------------------------------*/
/*-------------------------------*/
/* botones colapse */
/*-------------------------------*/
.card {
    background-color: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border: 0px;

}

.card-header:first-child {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

#headingTwo {
    background-color: var(--primary);
}

#headingThree {
    background-color: var(--smartYellow);
}

.card-header>h5>button {
    color: rgb(255, 255, 255);
}

.card-header>h5>button:hover {
    color: rgb(173, 197, 167);
}

/*-------------------------------*/
/* end botones colapse */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end grids acordeon */
/*...................................................*/
/*###################################################*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* footer */
/*...................................................*/
/*###################################################*/

footer {
    background-color: var(--smartRed);

}

.footer {
    font-size: 0.7rem;
    /* clear: both; */
    color: var(--brColor);
    padding: 2rem 4rem;
}

.footerLi {
    list-style: none;

}

.footer a {
    color: var(--brColor);
}

.footer a :hover {
    color: yellow;
}

.social-footer a {
    margin: 0 10px;
    font-size: 20px;
}

.logoFooter {
    width: 13rem;
    height: auto;
}

/*###################################################*/
/*...................................................*/
/* end footer */
/*...................................................*/
/*###################################################*/