/*###################################################*/
/*...................................................*/
/* WelcomeToSmart(component) */
/*...................................................*/
/*###################################################*/

.welcomeCard{
    background-color: var(--cardBackgroundColor);
    padding: 1rem;
    border-radius: 9px;
}


/*###################################################*/
/*...................................................*/
/* end WelcomeToSmart(component) */
/*...................................................*/
/*###################################################*/
