/*###################################################*/
/*...................................................*/
/* Counseling(component) */
/*...................................................*/
/*###################################################*/

/*-------------------------------*/
/* title */
/*-------------------------------*/
.title {
     display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 2rem;
}

/*-------------------------------*/
/* end title */
/*-------------------------------*/

/*-------------------------------*/
/* subgrid layout */
/*-------------------------------*/


.subGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

/* tablet portrait up */
@media (min-width: 768px) {
    .subGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* end tablet up */

/*-------------------------------*/
/* end subgrid layout */
/*-------------------------------*/

/*-------------------------------*/
/* Cards */
/*-------------------------------*/

.serviceCard {
  background: #fff;
  padding: 1rem;
  border-radius: 9px;
  /* Add shadow, hover effects, or transitions if you like */
  transition: box-shadow 0.2s ease-in-out;
}

.serviceCard:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.serviceHeader{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}


.icon {
  width: 5rem;
  height: auto;
  object-fit: contain;
}

.serviceTitle {
  font-size: 1.2rem;
  margin: 0;
}

.serviceSubtitle {
  color: #666;
  font-size: 0.9rem;
  margin: 0;
}

.serviceDescription {
  font-size: 0.9rem;
  line-height: 1.4;
}


.serviceQuestion{
  font-style: italic;
  font-size: 0.7rem;
  color: var(--smartGreenMono);
  margin: 3px;
  opacity: 0.7;

}

.line{
  height: 1px;
}
/*-------------------------------*/
/* end Cards */
/*-------------------------------*/

/*-------------------------------*/
/* button */
/*-------------------------------*/

.citasButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
}
.citasButton a{
  background-color: var(--smartGreenMono);
  color: var(--background);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

.citasButton a:hover{
  transform: scale(1.1);
}

/*-------------------------------*/
/* end button */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end Counseling(component) */
/*...................................................*/
/*###################################################*/
