/*###################################################*/
/*...................................................*/
/* footer */
/*...................................................*/
/*###################################################*/


footer[data-type="persistent"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    background-color: var(--smartBlue);
    padding: 3rem;
    color: var(--background);
    text-align: center;
    
}

/* tablet portrait up */
@media (min-width: 768px) {
    footer[data-type="persistent"] {
        flex-direction: row;
        font-size: 0.8rem;
        padding: 1rem;
    }
}

/* end tablet up */
/* tablet landscape up */
@media (min-width: 1054.1px) {
    footer[data-type="persistent"] {
        flex-direction: row;
        font-size: 0.9rem;
        padding: 3rem;
    }
}

/* end tablet up */

footer[data-type="persistent"] a {
    color: var(--background);
}

footer[data-type="persistent"] a:visited {
    color: var(--background);
}

footer[data-type="persistent"] svg {
    font-size: 1.3rem;
}

/*-------------------------------*/
/* up logo */
/*-------------------------------*/

.footer_logo {
    width: 15rem;
}

/* tablet portrait up */
@media (min-width:768px) and (max-width:1054.1px) {
    .footer_logo {
        width: 12rem;
    }
}

/* end tablet up */
/*-------------------------------*/
/* end up logo */
/*-------------------------------*/

/*-------------------------------*/
/* legales y links */
/*-------------------------------*/
.footer_derechos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;

}

/* tablet portrait up */
@media (min-width: 768px) {
    .footer_derechos {
        margin: 0;
    }
}
/* end tablet up */

.footer_redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

/*-------------------------------*/
/* end legales y links */
/*-------------------------------*/

/*-------------------------------*/
/* dirección y contacto */
/*-------------------------------*/
.footer_contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: var(--navMenu-height);
    
}

/* tablet portrait up */
@media (min-width: 768px) {
    .footer_contacto {
        align-items: flex-start;
        margin-bottom: 0;
        gap: 0.5rem;
    }
}

/* end tablet up */

.footer_contacto div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left; 
}
/* tablet portrait up */
@media (min-width: 768px) {
    .footer_contacto div {
        align-items: flex-start;
        margin-bottom: 0;
    }
}

/*-------------------------------*/
/* end dirección y contacto */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end footer */
/*...................................................*/
/*###################################################*/