/*###################################################*/
/*...................................................*/
/* AUFaq(component) */
/*...................................................*/
/*###################################################*/
.question svg{
    color: var(--smartRed);
    font-size: 1.5rem;
    margin-right: 0.5rem;
}


/*###################################################*/
/*...................................................*/
/* end AUFaq(component) */
/*...................................................*/
/*###################################################*/
