/*###################################################*/
/*...................................................*/
/* Cover(component) */
/*...................................................*/
/*###################################################*/

.Cover {

    min-height: 40vh;
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}


.Cover p {
    background-color: #f7f7f7;
    padding: 0.5rem;
    background-color: var(--smartBlue);
    color: var(--background);
    width: 100%;
}



/*###################################################*/
/*...................................................*/
/* end Cover(component) */
/*...................................................*/
/*###################################################*/
