/*###################################################*/
/*...................................................*/
/* IconTextTitle(component) */
/*...................................................*/
/*###################################################*/

.iconTextTitle{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.iconColumn{
    margin-bottom: 0.5rem;
}
.iconRow{
    margin-right: 0.5rem;
}


/*###################################################*/
/*...................................................*/
/* end IconTextTitle(component) */
/*...................................................*/
/*###################################################*/
