/*###################################################*/
/*...................................................*/
/* IconTextTitle(component) */
/*...................................................*/
/*###################################################*/

.iconTextTitle{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.iconColumn{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.iconRow{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.title{
    font-size: 1rem;
}

/*###################################################*/
/*...................................................*/
/* end IconTextTitle(component) */
/*...................................................*/
/*###################################################*/
