/*###################################################*/
/*...................................................*/
/* custom properties */
/*...................................................*/
/*###################################################*/

.mainTitle{
    margin-top: var(--navHeight);
}

.mainContainer {
  padding: 1rem;
}

/* cellphone landscape up */
@media (min-width: 576px) {
    .twoColumns {
        column-count: 2;
        column-gap: 4rem;
    }
}

/* end cellphone landscape up */


.bibliography {
    font-size: 0.6rem;
}



/* cellphone landscape up */
@media (min-width: 576px) {
    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: auto;
        gap: 3px;
        margin: 0px 1rem;
        padding: 0;
    }
}

/* end cellphone landscape up */

/* cellphone landscape down */
@media (max-width: 576px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 3px;
        margin: 0;
        font-size: 0.5rem;
    }
}

/* end cellphone landscape down */

.tableContainer{
    overflow-x: scroll;
}

.column {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: minmax(300px, max-content);
    gap: 3px;
}


.column>div {
    padding: 0.6rem;
    background-color: rgb(233, 224, 224);
    display: flex;
    align-items: center;

}

.column>.headerTable {
    padding: 1.3rem;
    background-color: var(--smartYellowMono);
    color: #fff;
    text-align: center;
    justify-content: center;
    /* se puede aplicar porque es un flex siempre */
}

.containerButton {
    margin-bottom: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    all: unset;
    background-color: var(--smartYellow);
    border: none;
    padding: 1rem;
    font-size: 2.1rem;
    transition: all 0.3s ease-in-out;
    border-radius: 11px;
    color: var(--background);
    cursor: pointer;
}
.button:focus, 
.button:hover{
    background-color: var(--smartYellowMono);
    border: none;
    box-shadow: none;
    transform: scale(0.9);
}

.textJustify {
    text-align: justify;
}
/*###################################################*/
/*...................................................*/
/* end custom properties */
/*...................................................*/
/*###################################################*/

