/*###################################################*/
/*...................................................*/
/* DPI/reporte(page) */
/*...................................................*/
/*###################################################*/

.dpi {
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  /* Let the outer container scroll */
  overflow-y: auto;
}

.dpiIframe {
  width: 100%;
  min-height: 3900px;
  border: none;
  display: block;
}

/* tablet portrait up */
@media (min-width: 768px) {
  .dpiIframe {
    min-height: 3300px;
    margin-top: calc(var(--navHeight) + 1rem);
  }
}
/* end tablet up */

/*###################################################*/
/*...................................................*/
/* end DPI/reporte(page) */
/*...................................................*/
/*###################################################*/

