

.dpi {
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  /* Let the outer container scroll */
  overflow-y: auto;
}

.dpiIframe {
  width: 100%;
  border: none;
  display: block;
  margin-top: calc(var(--navHeight) + 1rem);
}